html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------
    About Hero 
-------------------- */
.about-hero {
  height: 60vh;
  background-image: url(../images/about.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.about-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.about-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    About Section 
-------------------- */
.main-section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-section {
  margin-top: 40px;
  width: 85%;
  text-align: center;
  color: #555;
}

/* --------------------
    HDMS Section 
-------------------- */

.live {
  width: 140px;
  position: relative;
  bottom: 17.5px;
  margin-right: -10px;
  margin-left: -10px;
}
.hybrid-dms-section {
  margin-top: 20px;
  text-align: center;
  color: #555;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
  background-color: rgb(233, 241, 245);
}
.hybrid-dms-cards {
  margin-top: 30px;
}
.hybrid-dms-card {
  margin: 15px 0;
}
.hybrid-dms-image img {
  width: 100%;
}
.hybrid-dms-image h6 {
  font-weight: 700;
  color: rgb(248, 248, 248);
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}
.hybrid-dms-image i {
  font-size: 26px;
  position: absolute;
  bottom: 20%;
  left: 45%;
  color:rgb(0, 110, 255);
  background-color: white;
  border-radius: 50%;
}

.hybrid-dms-image .hybrid-dms-head {
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 10%;
  background-color: rgba(54, 109, 211, 0.76);
  padding-right: 30px;
  clip-path: 
  polygon(
    0% 0%,     /* top left */
    0% 0%,     /* top left */
    88% 0%,    /* top right */
    100% 54%,   /* top right */
    88% 100%,  /* bottom right */
    88% 100%,  /* bottom right */
    0% 100%,   /* bottom left */
    0 100%      /* bottom left */
  );
}

.hybrid-dms-text {
  background-color: white;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 4%;
  margin-left: 9%;
  margin-right: 9%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.hybrid-dms-text-top-left {
  transform: translate3d(-20px, -20px, 0);
}
.hybrid-dms-text-top-right {
  transform: translate3d(20px, -20px, 0);
}
.hybrid-dms-text-bottom-left {
  transform: translate3d(-20px, 20px, 0);
}
.hybrid-dms-text-bottom-right {
  transform: translate3d(20px, 20px, 0);
}
.hybrid-dms-card:hover .hybrid-dms-text{
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.hybrid-dms-text p {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.hybrid-dms-text i {
  font-size: 26px;
}


/* --------------------
    Why HDMS Section 
-------------------- */

.why-hybrid-dms-section {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 85%;
  text-align: center;
}
.why-hybrid-dms-section .why-dms {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}
.why-hybrid-dms-section .why-dms .fal {
  color:rgb(17, 68, 177);
  font-size: 40px;
  margin-right: 10px;
  transition: 0.7s ease;
}
.why-hybrid-dms-section .why-dms-text h6 {
  color: #444;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  min-height: 20px;
}
.why-hybrid-dms-section .why-dms-text p {
  color: #666;
  font-size: 14px;
}
.why-hybrid-dms-section .why-dms:hover .fal {
  transform: translateY(10px);
}
