html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  
}

/* --------------------
    Customers Hero 
-------------------- */
.company-hero {
  height: 60vh;
  background-image: url(../images/company.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.company-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.company-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    Journey Section 
-------------------- */
.journey .nav-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}
.journey .nav-item {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.journey .nav-link {
  border: 1px solid rgb(10, 41, 97);
  border-radius: 0;
  width: 250px;
  height: 90px;
  transition: 0.5s ease;
  color: rgb(10, 41, 97);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
.journey .nav-link .nav-link-icon {
  font-size: 40px;
  margin-right: 20px;
}
.journey .nav-link .nav-link-text {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.journey .tab-content .tab-pane {
  text-align: center;
}
.journey .nav-link:hover {
  color: #fff;
  background-color: rgb(10, 41, 97);
}
.journey .nav-item .active {
  color: #fff;
  background-color: rgb(10, 41, 97);
}

@media screen and (max-width: 900px) {
  .journey .nav-link {
    width: 200px;
    height: 80px;
  }
  .journey .nav-link .nav-link-icon {
    font-size: 36px;
  }
  .journey .nav-link .nav-link-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 756px) {
  .journey .nav-link {
    width: 180px;
    height: 70px;
  }
  .journey .nav-link .nav-link-icon {
    font-size: 30px;
  }
  .journey .nav-link .nav-link-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 680px) {
  .journey .nav-link {
    width: 100px;
  }
  .journey .nav-link .nav-link-icon {
    font-size: 30px;
    margin-right: 0;
  }
  .journey .nav-link .nav-link-text {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .journey .nav-link {
    width: 70px;
    height: 70px;
  }
  .journey .nav-link .nav-link-icon {
    font-size: 30px;
  }
}

.our-team-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-team-section:before {
  position: absolute;
  top: -0;
  left: 0;
  content: " ";
  background: url(img/service-section-bottom.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
.our-team {
  padding: 30px 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #00325a;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.486);
}
.our-team:hover{
  border-bottom: 5px solid #2f2f2f;
}

.our-team .pic{
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00325a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
height: 100%;
  background: #2f2f2f; 
}
.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
  background: #0b5694;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img{
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post{
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #4e5052;
  text-transform:capitalize;
}
.our-team .team-content p {
  margin-top: 10px;
  font-size: 14px;
  color: #696969;
}
.our-team .social{
  width: 100%;
  padding: 0;
  margin: 0;
  background: #2f2f2f;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.5s ease 0s;
  margin-top: 5px;
}
.our-team .social li a:hover{
  color: #2f2f2f;
  background: #f7f5ec;
  border-radius: 50%;

  text-decoration: none;
}
@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
}


/* --------------------
    Life at Eazy Section 
-------------------- */
.portfolio {
  overflow-y: hidden;
  margin: 40px 0;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
  transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
}
.portfolio .col-12 {
  
}
.portfolio .portfolio-item h3 {
  background-color: #9ECAF9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin: 0 5px 5px 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #e03a3c;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 5px 0 0;
  font-size: 28px;
  transition: 0.3s;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/* --------------------
    Career Section
-------------------- */
#career {
  width: 100%;
  margin: 0 auto;

}
#career .container {
  width: 100%;
  padding: 0;
  max-width: 100%;
}
#career .nav-tabs1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
#career .nav-tabs1 .nav-item1 {
  margin: 0 20px;
}
#career .nav-tabs1 .nav-link1 {
  border: none;
  transition: 0.5s ease;
  color: #444;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
}
#career .nav-tabs1 .nav-link1:hover {
  border: none;
  box-shadow: 0 3px 0 #e03a3c;
  color: #e03a3c;
}
#career .nav-tabs1 .nav-item1 .active {
  background-color: #e03a3c;
  border-bottom: 1px solid #e03a3c;
  box-shadow: 0 0px 0 #e03a3c;
  color: #fcfcfc;
}

#career .tab-content .tab-pane {
  text-align: center;
}
.career .tab-content .spikes {
  position: relative;
  background: #e03a3c;
  height: 100%;
  margin: 0 auto; 
  color: white;
  padding: 100px 0;
  bottom: 25px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.5px;;
}
.career .tab-content .spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -9%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 60px;
  background-size: 60px 100%;
  background-image: linear-gradient(135deg, #e03a3c 25%, transparent 25%), linear-gradient(225deg, #e03a3c 25%, transparent 25%);
  background-position: 0 0;
}

.career .tab-content .tab-text {
  width: 90%;
  margin: 0 auto;
}
.career .tab-content .tab-text span {
  color: #2867f0;
}
.career .tab-content .tab-text p {
  font-size: 15px;
}
.career .tab-content .tab-text h5 {
  font-weight: 600;
  color: #444;
}
#training h4 {
  font-size: 30px;
  width: 120%;
  margin-left: -10%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 60px 0;
  color: #ccc;
  background-image: url(../images/training-bg.jpg);
  background-size: cover;
  background-position: center;
}
.career .tab-content .tab-text h2 {
  font-family: 'Poppins', sans-serif;
  text-decoration: wavy underline #f02828;
  text-underline-offset: 7px;
  margin: 30px 0 30px 0;
  color: #333;
  line-height: 3rem;
}
.career .tab-content .tab-text .career-background {
  background-color: #1c86dd2f;
  border-radius: 10px;
  margin: 30px 0;
  padding: 10px 0px 10px 0;
}
.career .tab-content .tab-text ul {
  list-style: none;
  text-align: left;
  font-size: 15px;
  margin-top: 15px;
}
.career .tab-content .tab-text ul li {
  margin-bottom: 5px;
  color: #444;
}
.career .tab-content .tab-text ul li i {
  color: #f02828;
}
#course .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
#course .row a {
  color: #444;
}
#course ul li i {
  color: #2885f0;
}
#course .row .col-sm-4 {
  padding-left: 9%;
  font-size: 15px;
}
#course .row .col-12 {
  padding-left: 40%;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  #course .row .col-sm-4 {
    margin: 0 !important;
    padding-left: 10%;
  }
  #course .row .col-12 {
    padding-left: 10%;
  }
  #course .row {
    margin: 20px 0;
  }
}


#jobs .panel-default>.panel-heading {
  background-color: rgb(28, 83, 165);
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#jobs .panel-default>.panel-heading a {
  display: block;
  padding: 10px 20px 10px 20px;
  color: #fff;
  text-decoration: none;
  text-align: left;
}

#jobs .panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

#jobs .panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: rgb(15, 66, 141)
}

#jobs .panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\00d7";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#jobs .panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#jobs .panel-default>.panel-heading a span {
  font-size: 14px;
  color: white;
  position: absolute;
  right: 19%;
  margin-top: 4px;
  float: right;
}

@media screen and (max-width: 992px) {
  #jobs .panel-default>.panel-heading a {
    display: block;
    padding: 10px 20px 10px 20px;
    color: #fff;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
  }
  #jobs .panel-default>.panel-heading a span {
    display: none;
  }
}

#jobs .panel-collapse {
  margin: 30px 0;
  color: #444;
}
#jobs .panel-group .panel-body .col-lg-8 {
  text-align: left;
}
#jobs .panel-group .panel-body .col-lg-8 ul li {
  margin-left: -40px;
  line-height: 20px;
}
#jobs .panel-group h4 {
  text-transform: uppercase;
  color: #333;
}
#jobs .panel-group .panel-body tr th {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
#jobs .panel-group .panel-body tr th i {
  font-size: 20px;
  color: #1C53A5;
  margin-top: 2px;
}

#jobs .panel-group .panel-body .apply-btn {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  background: #1C53A5;
  color: #fff;
  border: 2px solid #1C53A5;
  padding: 0.60em 1.7em;
  display: flex;
  margin: 2rem auto 2rem auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;
}
#jobs .panel-group .panel-body .apply-btn:hover {
  color: #1C53A5;
}
#jobs .panel-group .panel-body .apply-btn::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  transition: 0.5s ease;
}
#jobs .panel-group .panel-body .grow_skew_forward::after {
  left: -40%;
  right: -40%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}
#jobs .panel-group .panel-body .grow_skew_forward:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}

@media screen and (max-width: 992px) {
  #jobs .panel-group .panel-body .row {
    flex-direction: column-reverse;
  }
}


#apply .reasons {
  margin: 0 5% 0 10%;
}

#apply .reasons h1 {
  font-weight: 700;
  text-align: left;
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#apply .reasons h1 span {
  color: rgb(67, 133, 233);
}
#apply .reasons ul  {
  padding-left: 5%;
}
#apply .reasons ul li {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}
#apply .reasons ul li i {
  color:rgb(67, 133, 233);
  width: 40px;
  text-align: center;
  margin-right: 5px;
}
#apply .reasons .know-more {
  background-color: rgb(67, 133, 233);
  color: white;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  border-left: 1px solid rgb(49, 110, 201);
  border-right: 1px solid rgb(49, 110, 201);
  border-bottom: 5px solid rgb(49, 110, 201);
  transition: 0.3s ease;
  box-shadow: 0 4px 0px rgb(182, 182, 182);
  margin-bottom: 30px;
}
#apply .reasons .know-more:hover {
  transform: translateY(4px);
  border-bottom: 1px solid rgb(49, 110, 201);
}

#apply .box {
  background-color: rgb(67, 133, 233);
  padding: 20px 40px;
  border-radius: 10px;
  margin: 0 10% 0 2%;
}
#apply .box .form-control {
  margin: 15px 0;
  height: 50px;
  border: none;
}
#apply .box .btn {
  background-color: #0d4eb1;
  padding: 12px 25px;
  border: 1px solid #0d4eb1;
  font-weight: 700;
  letter-spacing: 1.5px;
  transition: 0.3s ease;
}
#apply .box .btn:hover {
  background-color: #0c469e;
  border: 1px solid #0c469e;
  transform: scale(1.05);
}


.file-upload {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: rgb(67, 133, 233);
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid rgb(67, 133, 233);
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: rgb(67, 133, 233);
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed rgb(67, 133, 233);
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: rgb(67, 133, 233);
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
  padding: 30px 20px;
}

.drag-text i {
  font-size: 40px;
  color: rgb(67, 133, 233);
}

.drag-text h3 {
  margin-top: 10px;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(67, 133, 233);
}
.image-dropping, .image-upload-wrap:hover h3, .image-dropping, .image-upload-wrap:hover i {
  color: #fff;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  margin-top: 20px;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.image-title {
  color: rgb(65, 65, 65) !important;
}

@media screen and (max-width: 768px) {
  #apply .reasons {
    margin: 0 5%;
  }
  #apply .reasons h1{
    text-align: center;
  }
  #apply .box {
    margin: 0 5%;
  }
}

#it-freshers .tab-text .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
#it-freshers .tab-text .career-background {
  width: 60%;
  margin:10px;
}
#it-freshers .tab-text .career-background h4 {
  color: #444;
}