.section-heading {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}
.section-heading h2 {
  font-weight: 500;
  color: #333333;
  text-align: center;
  font-size: 38px;
}
.section-heading p {
  color: #777777;
  text-align: center;
  font-size: 15px;
}
.section-heading-underline {
  margin: 0 auto;
  width: 100px;
  border-bottom: 3px solid rgb(17, 68, 177);
  margin-bottom: 40px;
}
.section-heading h2 span {
  color: rgb(15, 79, 153);
}

/* Sub Header Style */

.sub-header {
	background-color: #1F305D;
	height: 46px;
	line-height: 46px;
}

.sub-header ul li {
	display: inline-block;
}

.sub-header ul.left-info li {
	border-left: 1px solid rgba(250,250,250,0.3);
	padding: 0px 20px;
}

.sub-header ul.left-info li:last-child {
	border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.left-info li i {
	margin-right: 10px;
	font-size: 18px;
}

.sub-header ul.left-info li a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.sub-header ul.right-icons {
	float: right;
}

.sub-header ul.right-icons li {
	margin-right: -4px;
	width: 46px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li:first-child {
	border-left: 1px solid rgba(250,250,250,0.3);
}

.sub-header .fab {
	color: #fff;
	transition: all 0.3s ease;
}

.sub-header .fa-facebook-f:hover {
	color: #4064AC;
}
.sub-header .fa-twitter:hover {
	color: #4DA6E9;
}
.sub-header .fa-linkedin:hover {
	color: #2464AD;
}
.sub-header .fa-youtube:hover {
	color: #F60000;
}

@media screen and (max-width: 992px) {
  .sub-header .row .col-md-4 {
    display: none;
  }
  .sub-header .row .col-md-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sub-header ul.left-info li {
    padding: 0 10px;
  }
  .sub-header ul.left-info li i {
    margin-right: 10px;
  }
  .sub-header ul.left-info li a {
    font-size: 12px;
  }
  .sub-header ul.left-info {
    padding-left: 0;
  }
}

@media screen and (max-width: 380px) {
  .sub-header {
    display: none;
  }
}

.nav-index {
  display: none;
}

/* Header Style */
.navbar-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #1F305D;
  transition: 0.5s ease;
  padding: 0 !important;
}

header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 80px;
}
header .navbar {
	padding: 10px 0px; 
  display: none;
}
.background-header .navbar {
	padding: 10px 0px;
}
header .navbar .navbar-brand img{
  width: 120px;
  padding: 10px 0;
  margin-left: 30px;
}

.navbar .navbar-nav .nav-item {
	margin: 0px 12px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
  position: relative;
}
.active .nav-link {
  font-weight: 600 !important;
}
.active .nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1) !important;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transition: none !important;
}
.navbar .navbar-nav .nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar .navbar-nav .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar .navbar-nav button a {
  color: white;
  text-decoration: none;
}
.navbar .navbar-nav button {
  margin: 6px 20px 0 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: #EC1C24;
  border: none;
  outline: none;
  width: 150px;
  padding: 7px 10px;
  border-radius: 5px;
}
.navbar .navbar-nav button:hover {
  background-color: #da1a20;
}

@media screen and (max-width: 992px) {
  .navbar .navbar-nav .nav-link {
    display: inline-flex;
  }
  .navbar ul{
    padding-bottom: 30px;
  }
}




#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	background-color: transparent;
  font-size: 36px;	
  color: #fff;
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 28px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #a4c639;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}



.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Line */
.loader-wrapper .ring {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border: 4px solid transparent;
  border-radius: 50%;
}
.loader-wrapper .ring1 {
  border-top: 4px solid #dddddd;
}
.loader-wrapper .ring2 {
  border-top: 4px solid #ED1C24;
}
.loader-wrapper .ring3 {
  border-top: 4px solid #095483;
}
/* Head of line */
.loader-wrapper .ring::before{
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.loader-wrapper .ring1::before {
  background: #dddddd;
  box-shadow: 
    0 0 0 5px #dddddd33,
    0 0 0 10px #dddddd22,
    0 0 0 20px #dddddd11,
    0 0 40px #dddddd,
    0 0 50px #dddddd;; 
}
.loader-wrapper .ring2::before {
  background: #ED1C24;
  box-shadow: 
    0 0 0 5px #ED1C2433,
    0 0 0 10px #ED1C2422,
    0 0 0 20px #ED1C2411,
    0 0 40px #ED1C24,
    0 0 50px #ED1C24;; 
}
.loader-wrapper .ring3::before {
  background: #095483;
  box-shadow: 
    0 0 0 5px #09548333,
    0 0 0 10px #09548322,
    0 0 0 20px #09548311,
    0 0 40px #095483,
    0 0 50px #095483;; 
}
/* Circle Position & Animation */
.loader-wrapper .ring1 {
  animation: circle2 2s linear infinite;
  
}
.loader-wrapper .ring2 {
  animation: circle1 2s linear infinite;
}
.loader-wrapper .ring3 {
  position: absolute;
  top: 30%;
  animation: circle 2s linear infinite;
}
/* Loading Text */
.loader-wrapper p {
  overflow: hidden;
  position: absolute;
  top: 70%;
  color: #333;
  font-size: 32px;
  letter-spacing: 4px;
  z-index: 1000000;
  font-family: 'Poppins', sans-serif;
}
/* Animation */
@keyframes circle{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes circle1{
  0%{
    transform: rotate(120deg);
  }
  100%{
    transform: rotate(480deg);
  }
}
@keyframes circle2{
  0%{
    transform: rotate(240deg);
  }
  100%{
    transform: rotate(600deg);
  }
}