body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.resources-section-heading {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}
.resources-section-heading h2 {
  font-weight: 500;
  color: #333333;
  text-align: center;
  font-size: 38px;
}
.resources-section-heading p {
  color: #777777;
  text-align: center;
  font-size: 15px;
}
.resources-section-heading-underline {
  margin: 0 auto;
  width: 100px;
  border-bottom: 3px solid rgb(17, 68, 177);
  margin-bottom: 40px;
}
.resources-section-heading h2 span {
  color: rgb(15, 79, 153);
}
.live {
  width: 140px;
  position: relative;
  bottom: 17.5px;
  margin-right: -10px;
  margin-left: -10px;
}

/* --------------------
    Resources Hero 
-------------------- */
.resources-hero {
  height: 60vh;
  background-image: url(../images/resources.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.resources-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.resources-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    Blogs Section 
-------------------- */
.blogs {
  height: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blogs .blog-posts {
  width: min(1200px, 100%);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.blogs .blog-posts .post {
  width: calc(33% - 10px);
  overflow: hidden;
}

.blogs .blog-posts .post-img {
  width: 100%;
  border-radius: 6px;
  transition: .3s linear;
}

.blogs .blog-posts .post-content {
  background-color: #eeed;
  margin: 0 20px;
  padding: 30px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.blogs .blog-posts .post-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.blogs .blog-posts .post-content h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.blogs .blog-posts .date {
  font-size: 15px;
  font-style: italic;
  color: #e77f67;
}

.blogs .blog-posts .post:hover .post-img {
  transform: translateY(20px);
  transition: 0.5s ease;
}

.blogs .blog-posts .post:hover .post-content {
  transform: translateY(-80px);
  transition: 0.5s ease;
}

@media screen and (max-width: 1200px){
  .blogs .blog-posts{
    justify-content: center;
  }
  .blogs .blog-posts .post{
    width: min(600px, 100%);
  }
}

/* --------------------
    Newsroom Section 
-------------------- */
#newsroom-carousel {
  
}
#newsroom-carousel img {
  width: 100%;
}

.news-row {
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-row .news-card {
  margin: 10px 10px;
  max-width: 570px;
}
.news-row .news-card img {
  width: 100%;
}
.news-row .news-card .col-7 {
  background-color: #eeed;
  display: flex;
  padding-top: 15px;
}
.news-row .news-card .col-7 p {
  font-size: 14px;
}
.news-row .news-card .col-7 .horizontal-line {
  border-top: 1px solid rgb(184, 184, 184);
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 100%;
}
.news-row .news-card .col-7 .learn-more {
  position: absolute;
  bottom: 10px;;
  color: rgb(40, 146, 216);
  text-decoration: none;
}
.news-row .news-card .col-7 .learn-more i {
  transition: 0.5s ease;
}
.news-row .news-card .col-7 .learn-more:hover i {
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .news-row .news-card {
    max-width: 700px;
  }
  .news-row .col-xl-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .news-row .news-card {
    max-width: 500px;
  }
  .news-desc-remove-1 {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .news-row .news-card {
    max-width: 400px;
  }
  .news-row .news-card h4 {
    font-size: 20px;
  }
  .news-row .news-card p {
    font-size: 12px;
  }
  .news-desc-remove-2 {
    display: none;
  }
}