html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------
    Resources Hero 
-------------------- */
.resources-hero {
  height: 60vh;
  background-image: url(../images/resources.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.resources-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.resources-hero p {
  font-size: 14px;
  text-transform: uppercase;
}



/* --------------------
    Main Resources
-------------------- */
.main-section-resources .container {
  max-width: 100%;
  padding: 0;
}
.main-section-resources .nav-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.main-section-resources .nav-tabs .nav-item {
  margin: 0 20px;
}
.main-section-resources .nav-tabs .nav-link {
  border: none;
  transition: 0.5s ease;
  color: #444;
  font-weight: bold;
}
.main-section-resources .nav-tabs .nav-link:hover {
  border: none;
  box-shadow: 0 3px 0 #2793ec;
  color: #2793ec;
}
.main-section-resources .nav-tabs .nav-item .active {
  border: none;
  box-shadow: 0 3px 0 #2793ec;
  color: #2793ec;
}
.main-section-resources .tab-content .tab-pane {
  text-align: center;
}
.main-section-resources .section-heading {
  width: 90%;
}

/* --------------------
    Blogs Section 
-------------------- */

.blogs {
  height: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blogs .blog-posts {
  width: 90%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: pointer;
}

.blogs .blog-posts .post {
  width: calc(33% - 10px);
  overflow: hidden;
}

.blogs .blog-posts .post-img {
  width: 100%;
  border-radius: 6px;
  transition: .3s linear;
}

.blogs .blog-posts .post-content {
  background-color: #eeed;
  min-height: 230px;
  margin: 0 20px;
  padding: 30px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.blogs .blog-posts .post-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.blogs .blog-posts .post-content h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.blogs .blog-posts .date {
  font-size: 15px;
  font-style: italic;
  color: #e77f67;
}

.blogs .blog-posts .post:hover .post-img {
  transform: translateY(20px);
  transition: 0.5s ease;
}

.blogs .blog-posts .post:hover .post-content {
  transform: translateY(-80px);
  transition: 0.5s ease;
}

@media screen and (max-width: 1200px){
  .blogs .blog-posts{
    justify-content: center;
  }
  .blogs .blog-posts .post{
    width: min(600px, 100%);
  }
}

/* --------------------
    Newsroom Section 
-------------------- */

.newsroom .featured-wrapper {
  background-color: #fff;
}
.newsroom .featured-news {
  color: #222;
  text-align: left;
  max-width: 1150px;
  margin: 0 auto;
  padding: 30px 0 50px 0;
}
.newsroom .featured-news h3 {
  margin-left: 15px;
  font-weight: 700;
}
.newsroom .featured-news .featured {
  margin: 30px auto 0 auto;
}
.newsroom .featured-news .featured a {
  color: #222;
  text-decoration: none;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff,#fff), linear-gradient(#111, #111);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: 0.5s linear;
}
.newsroom .featured-news .featured .big-headline:hover a {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}
.newsroom .featured-news .featured .col-md-6:hover a {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}
.newsroom .featured-news img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
.newsroom .featured-news .featured .col-md-6 {
  margin-bottom: 15px;
}

@media screen and (max-width: 1150px) {
  .newsroom .featured-news {
    max-width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .newsroom .featured-news {
    max-width: 600px;
  }
}
@media screen and (max-width: 756px) {
  .newsroom .featured-news .featured .col-md-6 {
    margin-bottom: 30px;
  }
  .newsroom .featured-news .featured h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .newsroom .featured-news {
    margin: 0 30px;
  }
}


.news-row {
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.news-row .news-card {
  margin: 10px 10px;
  max-width: 570px;
}
.news-row .news-card img {
  width: 100%;
}
.news-row .news-card .col-7 {
  background-color: #eeed;
  display: flex;
  padding-top: 15px;
}
.news-row .news-card .col-7 p {
  font-size: 14px;
}
.news-row .news-card .col-7 .horizontal-line {
  border-top: 1px solid rgb(184, 184, 184);
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 100%;
}
.news-row .news-card .col-7 .learn-more {
  position: absolute;
  bottom: 10px;;
  color: rgb(40, 146, 216);
  text-decoration: none;
}
.news-row .news-card .col-7 .learn-more i {
  transition: 0.5s ease;
}
.news-row .news-card .col-7 .learn-more:hover i {
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .news-row .news-card {
    max-width: 700px;
  }
  .news-row .col-xl-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .news-row .news-card {
    max-width: 500px;
  }
  .news-desc-remove-1 {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .news-row .news-card {
    max-width: 400px;
  }
  .news-row .news-card h4 {
    font-size: 20px;
  }
  .news-row .news-card p {
    font-size: 12px;
  }
  .news-desc-remove-2 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .news-row .news-card {
    max-width: 350px;
  }
  .news-desc-remove-3 {
    display: none;
  }
}

/* --------------------
    Catalogue Section 
-------------------- */
.catalogue {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.catalogue .case-studies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.catalogue .case-studies .deck-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogue .case-studies .case-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  padding: 20px;
  margin: 20px 30px;
  box-shadow: 0 0 10px rgb(177, 177, 177);
  border-radius: 5px;
  background-color: #ffffff;
}
.catalogue .case-studies .case-card .card-img {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalogue .case-studies .case-card .card-img img {
  width: 70%;
}
.catalogue .case-studies .case-card .card-text {
  text-align: center;
  font-size: 15px;
  color: #777;
}
.catalogue .case-studies .case-card button {
  outline: none;
  border: none;
  color: #fff;
  background-color: #13609e;
  border: 1px solid #13609e;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.5s ease;
}
.catalogue .case-studies .case-card button:hover {
  color: #13609e;
  background-color: #fff;
}

.catalogue .company-deck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.catalogue .company-deck .deck-card {
  width: 28rem;
  box-shadow: 0 0 10px rgb(153, 153, 153);
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
}
.catalogue .company-deck .deck-card .deck-img {
  margin-bottom: -70px;
}
.catalogue .company-deck .deck-card .deck-img img {
  width: 100%;
  transition: 0.5s ease;
}
.catalogue .company-deck .deck-text {
  background-color: #1174c5;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  transform: translateY(100px);
  transition: 0.5s ease;
}
.catalogue .company-deck .deck-text h3 {
  text-align: left;
  margin-top: 5px;
  margin-left: 20px;
}
.catalogue .company-deck .deck-card:hover .deck-text {
  transform: translateY(0px);
}
.catalogue .company-deck .deck-card:hover .deck-img img {
  transform: scale(1.03);
  filter: brightness(85%);
}

@media screen and (max-width: 500px) {
  .catalogue .company-deck .deck-card {
    width: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .catalogue .company-deck .deck-card {
    width: 16rem;
  }
}

.catalogue-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 100%;
}
.catalogue-cards .catalogue-card {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  width: 36rem;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgb(197, 197, 197);
  border-radius: 7px;
  transition: 0.5s ease;
}
.catalogue-cards img {
  width: 80px;
  margin-right: 30px;
}

.catalogue-cards .catalogue-card .catalogue-body {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}
.catalogue-cards .catalogue-card .catalogue-body h6 {
  margin-top: 2px;
}
.catalogue-cards .catalogue-card a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #111;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s ease;
}
.catalogue-cards .catalogue-card a:hover {
  background-color: #111;
  color: #fff;
}

.catalogue-cards .catalogue-card:hover {
  box-shadow: 0 0 10px gray;
}

@media screen and (max-width: 420px) {
  .catalogue-cards img {
    width: 50px;
    margin-right: 10px;
  }
  .catalogue-cards .catalogue-card .catalogue-body h6 {
    font-size: 14px;
  }
  .catalogue-cards .catalogue-card a {
    padding: 6px 14px;
    font-size: 14px;
  }
}


.case-study .form-control {
  height: 50px;
  margin: 15px 0;
}
.case-study .modal-header {
  background-color: #2464AD;
  color: white;
  text-transform: uppercase;
}
.case-study .modal-footer {
  display: inline;
  padding: 0;
  border-top: 0;
}
.case-study .modal-footer button {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  color: #ddd;
  text-transform: uppercase;
  background-color: #2464AD;
  padding: 0 30px;
  transition: 0.2s ease;
  cursor: pointer;
}
.case-study .modal-footer .modal-cancel {
  background-color: #333;
}
.case-study .modal-footer .modal-cancel:hover {
  background-color: #222;
  color: #fff;
}
.case-study .modal-footer .modal-submit:hover {
  background-color: #1b508d;
  color: #fff;
}