html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

/* --------------------
    Customers Hero 
-------------------- */
.customers-hero {
  height: 60vh;
  background-image: url(../images/customers.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.customers-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.customers-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    Customers Section 
-------------------- */
.customers .customers-row {
  min-height: 300px;
}
.customers .customers-row .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.customers .customers-row .row div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers .customers-row:nth-child(even) {
  background-color: #eeeeeeff;
}
.customers .customers-text-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2% 0 100px;
}
.customers .customers-images-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px 0 2%;
}
.customers .customers-text-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px 0 2%;
}
.customers .customers-images-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2% 0 100px;
}
.customers .customers-images-1 img, .customers .customers-images-2 img {
  margin: 10px 0;
  width: 100%
}
.customers .customers-text-1 h3, .customers .customers-text-2 h3 {
  color: #444;
  letter-spacing: 2px;
  font-size: 26px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.customers .customers-text-1 p, .customers .customers-text-2 p {
  color: #666;
}

.customers .customers-row-1 img {
  width: 90%;
}
.customers .customers-row-2 img {
  width: 90%;
}


@media only screen and (max-width: 992px) {
  .customers .customers-row-1 img {
    width: 110%;
  }
  .customers .customers-row-2 img {
    width: 110%;
  }
}



@media only screen and (max-width: 768px) {
  .customers .customers-row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
  }
  .customers .customers-row-1 {
    flex-direction: column;
    text-align: center;
  }
  .customers .customers-row-2 {
    flex-direction: column-reverse;
    text-align: center;
  }

  .customers .customers-text-1 {
    padding: 0 100px 0 100px;
  }
  .customers .customers-images-1 {
    padding: 0 100px 0 100px;
  }
  .customers .customers-text-2 {
    padding: 0 100px 0 100px;
  }
  .customers .customers-images-2 {
    padding: 0 100px 0 100px;
  }
 
  .customers .customers-row-1 .row .col-sm-3 {
    width: 25%;
  }
  .customers .customers-row-2 .row .col-sm-3 {
    width: 25%;
  }
}

@media screen and (max-width: 576px) {
  .customers .customers-text-1 {
    padding: 0 50px 0 50px;
  }
  .customers .customers-images-1 {
    padding: 0 50px 0 50px;
  }
  .customers .customers-text-2 {
    padding: 0 50px 0 50px;
  }
  .customers .customers-images-2 {
    padding: 0 50px 0 50px;
  }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 25%;
  float: left;
}
@media (min-width: 768px) and (max-width: 992px) {
.col-sm-15 {
    width: 25%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/* --------------------
    Client Wins Section 
-------------------- */
.customer-videos {
  margin: 0 auto;
  width: 85%;
  margin: 0px auto;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vid-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  --angle: 0deg;
  border: 7px solid;
  /* This will work but yield a wrong result: */
  border-image: linear-gradient(var(--angle), rgb(47, 188, 253), rgb(8, 66, 151), rgb(47, 188, 253), rgb(8, 66, 151)) 1;
  animation: 10s rotate linear infinite;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}



#video-scrollbar {
  width: 100%;
  position: relative; 
  padding-right: 32px; 
  padding-left: 32px; 
  margin-top: 10px;
  border-radius: 5px;
  background: #eee;
}

.swiper-custom-next, .swiper-custom-prev {
  font-size: 24px;
  color: rgb(39, 39, 39);
  position: absolute; 
  padding: 10px 2px; 
  z-index: 2;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
}

.swiper-custom-next {
  right: 4px;
  top: 32%; 
}
.swiper-custom-next:hover {
  right: 2px;
  color: rgb(207, 40, 40);
}

.swiper-custom-prev { 
  left: 4px; 
  top: 33%; 
}
.swiper-custom-prev:hover {
  left: 2px;
  color: rgb(207, 40, 40);
}

.swiper-custom-next.swiper-button-disabled,
.swiper-custom-prev.swiper-button-disabled
{
  opacity: 0.2;
}
.swiper-custom-next.swiper-button-disabled:hover {
  right: 4px;
}
.swiper-custom-prev.swiper-button-disabled:hover {
  left: 4px;
}


.swiper-container-videos .swiper-slide {
  width: 223px;
}

.swiper-container-videos .swiper-slide a .desc {
  margin-top: 3px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.vid-thumb {
  display: block;
  margin-top: 10px;
}

.vid-thumb img {
  height: auto;
  width: 100%;
  display: block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.vid-thumb:hover img {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.swiper-container-videos .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  position: relative;
  top: 0px;
}
.swiper-container-videos .swiper-slide a .desc {
  text-decoration: none;
  font-size: 14px;
  color: #222222;
}
.swiper-container-videos  .selected.swiper-slide a .desc {
  color: #025282;
  font-weight: bold;
}

.swiper-pagination-bullet-active {
    background: #013870;
}
.swiper-pagination-bullet-active:hover {
    background: #002c57;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 700px) {
  .vid-container iframe {
    width: 500px;
    height: 280px;
  }
}

@media screen and (max-width: 500px) {
  .vid-container iframe {
    width: 100%;
    max-width: 320px;
    height: 100%;
  }
}

/* ==================
    Testimonials
   ================== */

.testimonials {
  width: 100%;
  padding: 50px 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(233, 241, 245);
}
.testimonials .col-lg-4 {
  margin: 40px auto;
}
.testimonials .profile {
  background-color: white;
  padding: 70px 10px 10px;
  min-height: 320px;
}

.testimonials h2:before {
  border-bottom:3px solid rgb(117, 161, 202);
}

.testimonials .profile .testimonial-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
  border: 10px solid rgb(204, 222, 235);
}

.testimonials .profile h4 {

}

.testimonials .profile h6 {
  height: 33px;
}

.testimonials .profile i {

}

.testimonials .profile blockquote {
  
}

.testimonials .profile blockquote .more {
  display: none;
}

.moreless-button {
  background-color: #1263af;
  color: white;
  width: 110px;
  padding: 5px 0px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.moreless-button:hover {
  background-color: #0e579b;
}
.moreless-button:focus {
  outline: none;
  border: none;
}
#moretext1 {
  display: none;
}
#moretext2 {
  display: none;
}
#moretext3 {
  display: none;
}

@media screen and (max-width: 992px) {
  .testimonials .profile {
    min-height: 270px;
  }
}


/* ==================
    Testimonials v2
   ================== */
.testimonials-2 {
  padding: 50px 0;
  background-color: #181D31;
}
.testimonials-2 .section-heading h2 {
  color: #fff;
}
.testimonials-2 .item {
  border: 3px solid #162C50;
  box-shadow: 0 0 10px #162C50;
  border-radius: 30px;
}
.testimonials-2 .card {
  height: 100%;
  padding: 20px;
  border-radius: 30px;
  background-color: #091D42;
  color: #fff;
}
.testimonials-2 .card .card-top .row .col-5 {
}
.testimonials-2 .card .card-top .row .col-7 {
  padding-left: 0;
}
.testimonials-2 .card .card-top {
  margin-bottom: 20px;
}
.testimonials-2 .card .card-top .profile-pic {
  width: 100% !important;
  border: 2px solid rgb(39, 115, 255);
  border-radius: 10px;
}
.testimonials-2 .card .card-top .fa-youtube {
  color: red;
  font-size: 34px;
  position: absolute;
  right: 25px;
  bottom: 10px;
}
.testimonials-2 .card .card-top h5 {
  font-size: 17px;
  color:#13afe4;
  font-weight: 700;
}
.testimonials-2 .card .card-top h6 {
  font-size: 15px;
  margin-top: -7px; 
}
.testimonials-2 .card .card-top .fa-quote-right {
  font-size: 30px;
  color:#305185;
}
.testimonials-2 .card .card-top .company-logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.testimonials-2 .card .card-top .company-logo img {
  width: 130px;
}

.testimonials-2 .card .card-body {
  padding: 0;
}
.testimonials-2 .card .card-body p:nth-child(1) {
  font-size: 15px;
}
.testimonials-2 .card .card-body p:nth-child(2) {
  font-size: 20px;
  color: rgb(255, 187, 1);
}


.testimonials-2 .owl-carousel .owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-2 .owl-carousel .owl-nav button.owl-next,
.testimonials-2 .owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #1E88E5 !important;
  border: none;
  padding: 5px 20px !important;
  font: inherit;
  font-size: 50px !important
}
.testimonials-2 .owl-carousel .owl-nav button.owl-next:hover,
.testimonials-2 .owl-carousel .owl-nav button.owl-prev:hover {
  color: #0D47A1 !important;
  background-color: transparent !important
}
.testimonials-2 .owl-dots {
  display: none
}
.testimonials-2 button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}
.testimonials-2 .item {
  display: none
}
.testimonials-2 .next {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6
}
.testimonials-2 .prev {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6
}

.testimonials-2 .item.show {
  display: block;
  transition-duration: 0.4s
}

@media screen and (max-width: 999px) {
  .testimonials-2 .next,
  .testimonials-2 .prev {
      transform: scale(1);
      opacity: 1
  }
  .testimonials-2 .item {
      display: block !important
  }
}

