html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

/* --------------------
    Customers Hero 
-------------------- */
.customers-hero {
  height: 60vh;
  background-image: url(../images/customers.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.customers-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.customers-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    Customers Section 
-------------------- */
.customers .customers-row {
  min-height: 300px;
}
.customers .customers-row .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.customers .customers-row .row div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers .customers-row:nth-child(odd) {
  background-color: #eeeeeeff;
}
.customers .customers-text-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2% 0 100px;
}
.customers .customers-images-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px 0 2%;
}
.customers .customers-text-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px 0 2%;
}
.customers .customers-images-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2% 0 100px;
}
.customers .customers-images-1 img, .customers .customers-images-2 img {
  margin: 10px 0;
  width: 100%
}
.customers .customers-text-1 h3, .customers .customers-text-2 h3 {
  color: #444;
  letter-spacing: 2px;
  font-size: 26px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.customers .customers-text-1 p, .customers .customers-text-2 p {
  color: #666;
}

.customers .customers-row-1 img {
  width: 90%;
}
.customers .customers-row-2 img {
  width: 90%;
}


@media only screen and (max-width: 992px) {
  .customers .customers-row-1 img {
    width: 110%;
  }
  .customers .customers-row-2 img {
    width: 110%;
  }
}



@media only screen and (max-width: 768px) {
  .customers .customers-row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
  }
  .customers .customers-row-1 {
    flex-direction: column;
    text-align: center;
  }
  .customers .customers-row-2 {
    flex-direction: column-reverse;
    text-align: center;
  }

  .customers .customers-text-1 {
    padding: 0 100px 0 100px;
  }
  .customers .customers-images-1 {
    padding: 0 100px 0 100px;
  }
  .customers .customers-text-2 {
    padding: 0 100px 0 100px;
  }
  .customers .customers-images-2 {
    padding: 0 100px 0 100px;
  }
 
  .customers .customers-row-1 .row .col-sm-3 {
    width: 25%;
  }
  .customers .customers-row-2 .row .col-sm-3 {
    width: 25%;
  }
}

@media screen and (max-width: 576px) {
  .customers .customers-text-1 {
    padding: 0 50px 0 50px;
  }
  .customers .customers-images-1 {
    padding: 0 50px 0 50px;
  }
  .customers .customers-text-2 {
    padding: 0 50px 0 50px;
  }
  .customers .customers-images-2 {
    padding: 0 50px 0 50px;
  }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 25%;
  float: left;
}
@media (min-width: 768px) and (max-width: 992px) {
.col-sm-15 {
    width: 25%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/* --------------------
    Industry Peers Section 
-------------------- */
.industry-peers {
  padding: 60px 0 90px 0;
  position: relative;
  background-color: #eeeeeeff;
}
.industry-peers .slick-carousel {
  margin: 0 auto;
  width: 100%;
}
.industry-peers .slick-nav {
  z-index: 100;
  position: absolute;
  height: 100%;
  top: 0;
  border: none;
  background-color: transparent;
  padding: 0 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
.industry-peers .slick-nav:focus {
  outline: none;
}
.industry-peers .slick-carousel:hover .slick-nav {
  background-color: rgba(24, 24, 24, 0.527);
}
.industry-peers .pull-right {
  right: 0;
}
.industry-peers .slick-nav i {
  color: white;
  font-size: 30px;
  transition: 0.3s ease;
}
.industry-peers .pull-right:hover i, .industry-peers .pull-left:hover i {
  color: var(--color-2);
}
.industry-peers .slick-slide .slider-img {
  width: 100%;
  transition: 0.5s ease;
}
.industry-peers .slick-slide:hover .slider-img {
  filter: brightness(50%);
}
.industry-peers .slick-slide a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.industry-peers .slick-slide i {
  position: absolute;
  font-size: 40px;
  color: white;
  z-index: 10;
  transform: translateY(200px);
  transition: 0.5s ease;
}
.industry-peers .slick-slide:hover i {
  transform: translateY(0px);
}
.industry-peers .slick-slide .youtube {
  position: absolute;
  top: 10px;
  margin-left: -7%;
  width: 60px;
}

@media screen and (max-width: 992px) {
  .industry-peers .slick-slide .youtube {
    margin-left: -8.5%;
    width: 50px;
  }
}
@media screen and (max-width: 576px) {
  .industry-peers .slick-slide .youtube {
    margin-left: -12%;
  }
}
@media screen and (max-width: 400px) {
  .industry-peers .slick-slide .youtube {
    margin-left: -11%;
  }
}

.slick-lightbox-inner {
  top: 50px !important;
}
.slick-lightbox-close {
  top: 60px !important;
  right: 30px !important;
}
.slick-lightbox-close:before {
  font-size: 30px !important;
}
.slick-lightbox .slick-prev, .slick-lightbox .slick-next {
  z-index: 100 !important;
}
.slick-lightbox .slick-prev {
  left: 20px !important;
}
.slick-lightbox .slick-next {
  right: 30px !important;
}
.slick-prev:before, .slick-next:before {
  font-size: 30px !important;
}

@media screen and (max-width: 576px) {
  .slick-lightbox .slick-prev {
    left: 15px !important;
  }
  .slick-lightbox .slick-next {
    right: 15px !important;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 20px !important;
  }
  .slick-lightbox-slick-img {
    max-width: 81% !important;
  }
}



/* ==================
    Testimonials
   ================== */
.testimonials-wrapper {
  background-color: #DBEBFD;
}
.testimonials {
  width: 100%;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../images/distributors-bkg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; 
}
.testimonials .container {
  max-width: 1300px;
}
.testimonials .testimonial-card {
  background-color: #94cef5;
  margin: 15px;
  max-width: 30.9%;
  flex: 0 0 30.9%;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 0 10px rgb(184, 184, 184);
}
.testimonials .testimonial-card .details {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.testimonials .testimonial-card .details .testimonial-img {
  width: 100%;
}
.testimonials .testimonial-card .details h5 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 17px;
  color: #134479;
}
.testimonials .testimonial-card .details h6 {
  margin-top: -6px;
  height: 80px;
  font-weight: 500;
  font-size: 13px;
  color: #0c3663;
}
.testimonials .testimonial-card .details .sign {
  margin-top: 5px;
  height: 50px;
}
.testimonials .testimonial-card .review {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
}
.testimonials .testimonial-card .review .company-logo {
  width: 100px;
}
.testimonials .testimonial-card .review .stars i {
  color: rgb(255, 208, 0);
}
.testimonials .testimonial-card .review .fa-quote-right {
  float: right;
  position: absolute;
  font-size: 30px;
  top: 20px;
  right: 20px;
  color:#BCD4EE;
}
.testimonials .testimonial-card .review p {
  margin-top: 10px;
  font-size: 14px;
}
.testimonials .testimonial-card .review p .more {
  display: none;
}
.testimonials .testimonial-card .review .moreless-button {
  background-color: var(--color-3);
  color: white;
  width: 110px;
  padding: 5px 0px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.testimonials .testimonial-card .review .moreless-button:hover {
  background-color: #0e579b;
}
.testimonials .testimonial-card .review .moreless-button:focus {
  outline: none;
  border: none;
}
.testimonials .testimonial-card .review p #moretext1 {
  display: none;
}
.testimonials .testimonial-card .review p #moretext2 {
  display: none;
}
.testimonials .testimonial-card .review p #moretext3 {
  display: none;
}
@media screen and (max-width: 1300px) {
  .testimonials .testimonial-card {
    max-width: 30%;
    flex: 0 0 30%;
  }
  .testimonials .testimonial-card .details h6 {
    height: 110px;
  }
  .testimonials .testimonial-card .details .sign {
    height: 25px;
  }
}
@media screen and (max-width: 1050px) {
  .testimonials .testimonial-card {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 10px 0;
  }
  .testimonials .testimonial-card .details .testimonial-img {
    width: 40%;
  }
  .testimonials .testimonial-card .details h6 {
    height: 40px;
  }
  .testimonials .testimonial-card .details .sign {
    height: 35px;
  }
}
@media screen and (max-width: 650px) {
  .testimonials .testimonial-card .details .testimonial-img {
    width: 80%;
  }
  .testimonials .testimonial-card .details h6 {
    height: 60px;
  }
  .testimonials .testimonial-card .details .sign {
    height: 30px;
  }
}
@media screen and (max-width: 500px) {
  .testimonials .testimonial-card .details .testimonial-img {
    width: 90%;
  }
  .testimonials .testimonial-card .details h6 {
    height: 100px;
  }
  .testimonials .testimonial-card .details .sign {
    height: 23px;
  }
}
/*
.testimonials .col-lg-4 {
  margin: 40px auto;
}
.testimonials .profile {
  background-color: white;
  padding: 70px 10px 10px;
  min-height: 320px;
}

.testimonials h2:before {
  border-bottom:3px solid rgb(117, 161, 202);
}

.testimonials .profile .testimonial-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
  border: 10px solid rgb(219, 235, 253);
}

.testimonials .profile h4 {

}

.testimonials .profile h6 {
  height: 33px;
}

.testimonials .profile i {

}

.testimonials .profile blockquote {
  
}

.testimonials .profile blockquote .more {
  display: none;
}

.moreless-button {
  background-color: #1263af;
  color: white;
  width: 110px;
  padding: 5px 0px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.moreless-button:hover {
  background-color: #0e579b;
}
.moreless-button:focus {
  outline: none;
  border: none;
}
#moretext1 {
  display: none;
}
#moretext2 {
  display: none;
}
#moretext3 {
  display: none;
}

@media screen and (max-width: 992px) {
  .testimonials .profile {
    min-height: 270px;
  }
} */

