html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------
    Contact Hero 
-------------------- */
.contact-hero {
  height: 60vh;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.contact-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.contact-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    Contact Section 
-------------------- */
.contact-section .contact {
  width: 90%;
  height: 100%;
  display: flex;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
}
.contact-section .contact .left-sec {
  width: 45%;
  height: 100%;
  background: linear-gradient(to top, #041b5c9a, #041b5c9a), url(../images/contact-bg.jpg) center no-repeat;
  margin: 10px;
  padding: 20px 0;
  color: white;
  overflow: hidden;
}
.contact-section .contact .left-sec h4 {
  margin: 20px 40px 0 40px;
  font-weight: 600;
  height: 60px;
}
.contact-section .contact .left-sec .row {
  margin-top: 20px;
}
.contact-section .contact .left-sec .row h6 {
  font-size: 14px;
  color: #fff;
}
.contact-section .contact .left-sec .row a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
}
.contact-section .contact .left-sec .row:nth-child(3) h6 {
  color: #444;
}
.contact-section .contact .left-sec .row:nth-child(3) a {
  color: #666;
}
.contact-section .contact .left-sec .col-3 img {
  width: 80px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  outline-offset: -2px;
}
.contact-section .contact .left-sec .row:nth-child(2) .col-3 img {
  outline: 2px solid #2984ce;
}
.contact-section .contact .left-sec .row:nth-child(3) .col-3 img {
  outline: 2px solid #eee;
}
.contact-section .contact .left-sec .row:nth-child(4) .col-3 img {
  outline: 2px solid #b81717;
}

.contact-section .contact .left-sec .contact-row-1 .col-7 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-3);
  padding-top: 20px;
  padding-right: 5%;
  border-top-right-radius: 25px;
  height: 80px;
}
.contact-section .contact .left-sec .contact-row-1 .col-2 {
  background-color: var(--color-3);
  border-bottom-left-radius: 25px;
  height: 80px;
}

.contact-section .contact .left-sec .contact-row-2 .col-5 {
  max-width: 38.5%;
  flex: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: #ccc;
  padding-top: 20px;
  padding-right: 5%;
  border-top-right-radius: 25px;
  height: 80px;
}
.contact-section .contact .left-sec .contact-row-2 .col-4 {
  max-width: 36.5%;
  flex: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #ccc;;
  padding-top: 20px;
  padding-left: 5%;
  
  border-bottom-left-radius: 25px;
  height: 80px;
}

.contact-section .contact .left-sec .contact-row-3 .col-2 {
  background-color: var(--color-5);
  border-top-right-radius: 25px;
  height: 80px;
}
.contact-section .contact .left-sec .contact-row-3 .col-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-5);
  padding-top: 20px;
  padding-left: 5%;
  border-bottom-left-radius: 25px;
  height: 80px;
}
.contact-section .contact .left-sec .contact-row-4 {
  width: 99%;
  margin: 40px auto 18px auto;
}
.contact-section .contact .left-sec .contact-row-4 iframe {
  max-width: 100%;
  border: none;
}
.contact-section .contact .left-sec .contact-row-4 .col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-section .contact .left-sec .contact-row-4 .col-6 p {
  font-size: 13px;
  color: white;
}

.contact-section .contact .right-sec {
  width: 55%;
  height: 100%;
  margin: 10px;
  border: 1px solid rgb(189, 189, 189);
  padding: 40px;
  color: #222;
}
.contact-section .contact .right-sec h4 {
  font-weight: 600;
  height: 60px;
}
.contact-section .contact .right-sec .contact-form {
  margin: 0px;
}
.contact-section .contact .right-sec .contact-form .email, .contact-section .contact .right-sec .contact-form .name {
  margin-right: 4%;
  margin-top: 20px;  
  padding: 15px 20px;
  max-width: 48%;
}
.contact-section .contact .right-sec .contact-form .company, .contact-section .contact .right-sec .contact-form .phone {
  margin-top: 20px;  
  padding: 15px 20px;
  max-width: 48%;
}
.contact-section .contact .right-sec .contact-form .state {
  height: 56px;
  margin-top: 20px;
}
.contact-section .contact .right-sec .contact-form .message {
  height: 150px;
  padding: 15px 20px;
  margin-top: 20px;
  resize: none;
}
.contact-section .contact .right-sec .contact-form .submit {
  width: 250px;
  height: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #041b5c;
  border: 2px solid #041b5c;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 18px;
  transition: 0.5s ease;
}
.contact-section .contact .right-sec .contact-form .submit:hover {
  background-color: transparent;
  font-weight: 500;
  color: #041b5c;
  border: 2px solid #041b5c
}
.contact-section .contact .right-sec .contact-form .submit:focus {
  outline: none;
}



@media screen and (max-width: 992px) {
  .contact-section .contact {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
  }
  .contact-section .contact .left-sec {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .contact-section .contact .right-sec {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .contact-section .contact .left-sec .row h6 {
    font-size: 12px;
  }
  .contact-section .contact .left-sec .row p {
    font-size: 12px;
  }
  .contact-section .contact .left-sec .col-3 img {
    width: 60px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
  }

  .contact-section .contact .right-sec .contact-form .email, .contact-section .contact .right-sec .contact-form .name {
    margin-right: 0%;
    max-width: 100%;
  }
  .contact-section .contact .right-sec .contact-form .company, .contact-section .contact .right-sec .contact-form .phone {
    max-width: 100%;
  }
}

@media screen and (max-width: 462px) {
  .contact-section .contact .left-sec h4 {
    height: 100px;
  }
}

/* --------------------
    Offices Section 
-------------------- */
.offices-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.offices-section .offices-map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.offices-section .offices-map img {
  width: 80%;
  padding: 0 30px;
}

.offices-section h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #444;
  text-align: center;
}
.offices-section .head-office .office-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.offices-section .office-card .col-8 {
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.651);
  padding: 10px;
}
.offices-section .office-card .office-img-main {
  overflow: hidden;
  width: 100%;
}
.offices-section .office-card .office-img-main img {
  width: 100%;
  min-height: 320px;
  filter: grayscale(50%);
  transition: 0.5s ease;
}
.offices-section .office-card .office-img {
  overflow: hidden;
  width: 100%;
}
.offices-section .office-card .office-img img {
  max-height: 270px;
  height: 100%;
  filter: grayscale(50%);
  transition: 0.5s ease;
}
.offices-section .office-card .office-card-body:hover img{
  transform: scale(1.05);
  filter: grayscale(0%);
}

.offices-section .office-card h4 {
  font-size: 26px;
  font-weight: 700;
  color:rgb(82, 82, 82);
  font-family: 'Poppins';
  margin-bottom: 20px;
  margin-top: 10px;
}
.offices-section .office-card {
  font-size: 14px;
  color: #555;
}
.offices-section .office-card .office-details {
  display: flex;
}
.offices-section .office-card .office-details i {
  margin-top: 2px;
  margin-right: 10px;
  font-size: 20px;
  color: rgb(21, 43, 143);
}
.offices-section .office-card .office-details a {
  color: #555;
}
.offices-section .office-card .office-details a:hover {
  text-decoration: none;
}
.offices-section .office-card .card-col {
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.651);
  padding: 10px;
  margin: 10px;
}
.offices-section .branch-offices {
  margin-bottom: 50px;
}
.offices-section .branch-offices .row {
  display: flex;
  justify-content: center;
}
.offices-section .branch-offices .row .card-col {
  max-width: 45%;
}

@media screen and (max-width: 992px) {
  .offices-section .branch-offices .row .col-md-12 {
    max-width: 67.5%;
  }
  .offices-section .row .col-lg-6:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
  }
  .offices-section .row .col-lg-6:nth-child(2) .office-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .offices-section .row .col-lg-6:nth-child(2) .office-details i {
    font-size: 24px
  }
  .offices-section .office-card .office-img img {
    width: 100%;
    max-height: 320px;
  }
}

@media screen and (max-width: 600px) {
  .offices-section .office-card .office-img-main img {
    min-height: 100%;
  }
  .offices-section .office-card .office-img img {
    max-height: 100%;
    height: auto;
  }
}