/* --------------------
    Footer Section 
-------------------- */

.footer-section {
  width: 100%;
  background-color: #1F305D;
  --primary: #fff;
  --secondary: rgb(39, 164, 247);
  overflow: hidden;
  position: relative;
}
.footer-section .footer-video {
  filter: brightness(50%);
  position: absolute;
  bottom: 0;
}

.footer-section .footer-video video {
  width: 100%;
  margin-bottom: -10px;
}
.footer-section .footer-content {
  width: 100%;
  color: #ddd;
  position: relative;
  margin-top: 22px;
}
.footer-section .footer-content {
  font-size: 15px;
}
.footer-section .footer-content .row h6 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin: 60px 0 40px 0;
  letter-spacing: 2px;
  color: var(--secondary);
}
.footer-section .footer-content .contact-div {
  display: flex;
}
.footer-section .footer-content .contact-div .contact-icon {
  margin-right: 10px;
}
.footer-section .footer-content .contact-space {
  margin-top: 15px;
}
.footer-section .footer-content a {
  color: #ddd;
  text-decoration: none;
}
.footer-section .footer-content .contact-div:hover {
  color: #fff;
}
.footer-section .footer-content .contact-div:hover a {
  color: #fff;
}

.footer-section .footer-content .useful-links .row .col-6 {
  display: flex;
  flex-direction: column;
}
.footer-section .footer-content .useful-links a {
  margin-bottom: 10px;
}
.footer-section .footer-content .useful-links a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: var(--secondary);
}

.footer-section .footer-content .partners img {
  width: 90%;
  filter: brightness(150%) grayscale(100%);
}
.footer-section .footer-content .partners img:hover {
  filter: brightness(100%) grayscale(0%);
}

.footer-section .footer-content .other-products {
  margin-left: 30px;
  margin-top: 17px;
  width: 75%;
}
.footer-section .footer-content .other-products img {
  width: 42px;
  margin: 0 5px;
  transition: 0.3s ease;
}
.footer-section .footer-content .other-products img:hover {
  transform: scale(1.06);
}
.footer-section .footer-content .col-12:nth-child(3) {
  display: flex;
  align-items: center;
  margin-top: -30px;
}
.footer-section .footer-content .col-12:nth-child(3) h6 {
  width: 25%;
}

.footer-section .footer-content .social-links {
  margin-top: 17px;
  width: 75%;
}
.footer-section .footer-content .social-links i {
  padding: 12px 15px;
  border: 2px solid #3A5998;
  color: #3A5998;
  border-radius: 50%;
  margin-right: 6px;
  transition: 0.3s ease;
}
.footer-section .footer-content .social-links i:hover {
  background-color: #3A5998;
  color: white;
}
.footer-section .footer-content .social-links .fa-twitter {
  padding: 12px 12px;
  border: 2px solid #55ACEE;
  color: #55ACEE;
}
.footer-section .footer-content .social-links .fa-twitter:hover {
  background-color: #55ACEE;
}
.footer-section .footer-content .social-links .fa-linkedin-in {
  padding: 12px 13px;
  border: 2px solid #017BB6;
  color: #017BB6;
}
.footer-section .footer-content .social-links .fa-linkedin-in:hover {
  background-color: #017BB6;
}
.footer-section .footer-content .social-links .fa-youtube {
  padding: 12px 11px;
  border: 2px solid #e20101;
  color: #e20101;
}
.footer-section .footer-content .social-links .fa-youtube:hover {
  background-color: #e20101;
}
.footer-section .footer-content .col-12:nth-child(4) {
  display: flex;
  align-items: center;
  margin-top: -30px;
}
.footer-section .footer-content .col-12:nth-child(4) h6 {
  width: 25%;
}

.footer-section .footer-content .footer-underline {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid gray;
}

.footer-section .footer-content .footer-below {
  padding: 30px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}


@media screen and (max-width: 1200px) {
  .footer-section .footer-video video {
    width: 115%;
  }
}
@media screen and (max-width: 992px) {
  .footer-section .footer-video video {
    width: 220%;
  }
  .footer-section .footer-content {
    text-align: center;
  }
  .footer-section .footer-content .quick-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-section .footer-content .other-products {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-section .footer-content .other-products {
    margin-left: 0px;
  }
  .footer-section .footer-content .social-links i {
    margin: 0 5px;
  }
}
@media screen and (max-width: 768px) {
  .footer-section .footer-video video {
    width: 300%;
  }
}
@media screen and (max-width: 576px) {
  .footer-section .footer-video video {
    width: 850%;
  }
}
 