html {
  scroll-behavior: smooth;
  --color-1: #C9E9FF;
  --color-2: #69bcf7;
  --color-3: #1e6dad;
  --color-4: #032A4D;
  --color-5: #961010;
  --color-6: #d62225;
}

.section-heading {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}
.section-heading h2 {
  font-weight: 500;
  color: #333333;
  text-align: center;
  font-size: 38px;
}
.section-heading p {
  color: #777777;
  text-align: center;
  font-size: 15px;
}
.section-heading-underline {
  margin: 0 auto;
  width: 100px;
  border-bottom: 3px solid var(--color-3);
  margin-bottom: 40px;
}
.section-heading h2 span {
  color: var(--color-3);
}

/* Sub Header Style */

.sub-header {
	background-color: #1F305D;
	height: 46px;
	line-height: 46px;
}

.sub-header ul li {
	display: inline-block;
}

.sub-header ul.left-info li {
	border-left: 1px solid rgba(250,250,250,0.3);
	padding: 0px 20px;
}

.sub-header ul.left-info li:last-child {
	border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.left-info li i {
	margin-right: 10px;
	font-size: 18px;
}

.sub-header ul.left-info li a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.sub-header ul.right-icons {
	float: right;
}

.sub-header ul.right-icons li {
	margin-right: -4px;
	width: 46px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li:first-child {
	border-left: 1px solid rgba(250,250,250,0.3);
}

.sub-header .fab {
	color: #fff;
	transition: all 0.3s ease;
}

.sub-header .fa-facebook-f:hover {
	color: #4064AC;
}
.sub-header .fa-twitter:hover {
	color: #4DA6E9;
}
.sub-header .fa-linkedin:hover {
	color: #2464AD;
}
.sub-header .fa-youtube:hover {
	color: #F60000;
}

@media screen and (max-width: 992px) {
  .sub-header .row .col-md-4 {
    display: none;
  }
  .sub-header .row .col-md-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sub-header ul.left-info li {
    padding: 0 10px;
  }
  .sub-header ul.left-info li i {
    margin-right: 10px;
  }
  .sub-header ul.left-info li a {
    font-size: 12px;
  }
  .sub-header ul.left-info {
    padding-left: 0;
  }
}

@media screen and (max-width: 380px) {
  .sub-header {
    display: none;
  }
}

.nav-index {
  display: none;
}

/* Header Style */
.navbar-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #1F305D !important;
  transition: 0.5s ease;
  padding: 0 !important;
}

header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 80px;
}
header .navbar {
	padding: 10px 0px; 
  display: none;
}
.background-header .navbar {
	padding: 10px 0px;
}
header .navbar .navbar-brand img {
  width: 120px;
  padding: 10px 0;
}
header .navbar .container {
  max-width: 1200px;
}
@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    justify-content: right;
  }
}

.navbar .navbar-nav .nav-item {
	margin: 0px 5px;
}
.navbar .navbar-nav .nav-link {
	text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
  position: relative;
}
.active .nav-link {
  font-weight: 600 !important;
}
.active .nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1) !important;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-3);
  transition: none !important;
}
.navbar .navbar-nav .nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-3);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar .navbar-nav .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header .navbar .nav-dropdown {
  float: left;
  overflow: hidden;
}
header .navbar .industries {
  cursor: pointer;
  color: #fff !important;
  text-decoration: none;
}
.fa-caret-down {
  transform: rotate(0deg);
  transition: 0.5s ease;
}
.flip {
  transform: rotate(180deg);  
}
header .navbar .nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999999;
}
header .navbar .nav-dropdown-content a {
  float: none;
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
header .navbar .nav-dropdown-content a:hover {
  background-color: #ddd;
}

@media screen and (max-width: 992px) {
  .navbar .navbar-nav .nav-link {
    display: inline-flex;
  }
  .navbar ul {
    padding-bottom: 30px;
  }
  header .navbar .navbar-brand img {
    margin-left: 50px;
  }
  header .navbar {
    border-top: 1px solid rgba(250,250,250,0.3);
    background-color: #1F305D;
  }
  .nav-index .navbar {
    background-color: #ffffff00;
  }
  header .navbar .fa-caret-down {
    margin-top: 3px;
    margin-left: 5px;
  }
  header .navbar .nav-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .navbar .nav-dropdown-content {
    position: absolute;
    left: 40%;
  }
  .navbar .navbar-nav button {
    font-size: 13px;
    margin: 6px 0px 0px 0px !important;
  }
}

.navbar .navbar-nav button {
  margin: 6px 0px 0 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--color-6);
  color: white;
  border: none;
  outline: none;
  width: 150px;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  text-transform: uppercase;
}
.navbar .navbar-nav button:hover {
  background-color: rgb(189, 21, 26);
}

@media screen and (max-width: 1124px) {
  .navbar .navbar-nav .nav-item {
    margin: 0px 3px;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 13px;
    padding: 5px;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 0.3px;
  }
}


#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	background-color: transparent;
  font-size: 36px;	
  color: #fff;
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 28px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #a4c639;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}


#request-a-demo .form-control {
  height: 50px;
  margin: 15px 0;
}
#request-a-demo .modal-header {
  background-color: var(--color-3);
  color: white;
  text-transform: uppercase;
}
#request-a-demo .modal-footer {
  display: inline;
  padding: 0;
  border-top: 0;
}
#request-a-demo .modal-footer button {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  color: #ddd;
  text-transform: uppercase;
  background-color: var(--color-3);
  padding: 0 30px;
  transition: 0.2s ease;
  cursor: pointer;
}
#request-a-demo .modal-footer .modal-cancel {
  background-color: #333;
}
#request-a-demo .modal-footer .modal-cancel:hover {
  background-color: #222;
  color: #fff;
}
#request-a-demo .modal-footer .modal-submit:hover {
  background-color: #1b5aa1;
  color: #fff;
}



.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/loader-bg.gif);
  background-position: center;
  background-repeat: no-repeat;
}

