html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right bottom, #1f7ce6, #010c53);
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  height: 100% !important;
}


/*------------------
    Hero Section
------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-bg {
  width: 900px;
  height: 650px;
  display: block;
  position: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/index.png);
}
#hero-img1 {
  width: 370px;
  height: 430px;
  display: block;
  position: fixed;
  left: 0;
  z-index: 3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/index-1.png);
}
#hero-img2 {
  width: 370px;
  height: 450px;
  display: block;
  position: fixed;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/index-2.png);
}
#hero-img3 {
  width: 420px;
  height: 500px;
  display: block;
  position: fixed;
  left: 0;
  z-index: 3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/index-3.png);
}
#hero-img4 {
  width: 420px;
  height: 500px;
  display: block;
  position: fixed;
  right: 0;
  z-index: 3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/index-4.png);
}

.hero-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute; 
  top: -140px;
  width: 45%;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
}
.hero-head h4 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.hero-head h1 {
  margin-top: -10px;
  color: #01a8db;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 1150px) {
  #hero-bg {
    width: 700px;
  }
  #hero-img1 {
    width: 330px;
    left: -5%;
  }
  #hero-img2 {
    width: 330px;
    right: -5%;
  } 
  #hero-img3 {
    width: 380px;
    left: -5%;
  }
  #hero-img4 {
    width: 380px;
    right: -5%;
  }
  .hero-head {
    top: -180px;
  }
  .hero-head h4 {
    font-size: 24px;
  }
  .hero-head h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 915px) {
  #hero-bg {
    width: 650px;
  }
  #hero-img1 {
    left: -8%;
  }
  #hero-img2 {
    right: -8%;
  } 
  #hero-img3 {
    left: -8%;
  }
  #hero-img4 {
    right: -8%;
  }
  .hero-head {
    width: 50%;
  }
}
@media screen and (max-width: 790px) {
  #hero-bg {
    width: 600px;
  }
  #hero-img1 {
    width: 280px;
    left: -12%;
  }
  #hero-img2 {
    width: 280px;
    right: -12%;
  } 
  #hero-img3 {
    width: 340px;
    left: -8%;
  }
  #hero-img4 {
    width: 340px;
    right: -8%;
  }
  .hero-head h4 {
    font-size: 21px;
  }
  .hero-head h1 {
    font-size: 30px;
  }
}

.header .scroll-down-arrow {
  position: fixed;
  top: 88%;
  font-size: 40px;
  z-index: 9999;
  animation: 1.5s infinite scroll-down;
}
.header .scroll-down-arrow a {
  color: #011861;
}
.scroll-down-arrow-absolute {
  position: absolute !important;
  top: 2590px !important;
}
@keyframes scroll-down {
  0%, 100% {
    top: 88%;
  }
  50%, 70% {
    top: 90%;
  }
  60% {
    top: 89%;
  }
}


/*------------------
    Hero Mobile
------------------*/
.header-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
  display: none;
}
.header-mobile .mobile-hero-bg, .header-mobile .mobile-hero-img1, .header-mobile .mobile-hero-img3, .header-mobile .mobile-hero-img2, .header-mobile .mobile-hero-img4 {
  position: relative;
}
.header-mobile .mobile-hero-bg {
  width: 600px;
  top: -250px;
  left: 12%;
}
.header-mobile .mobile-hero-img1 {
  width: 330px;
  top: 400px;
  left: -25%;
  z-index: 10;
}
.header-mobile .mobile-hero-img2 {
  width: 330px;
  top: -530px;
  left: 84%;
  z-index: 10;
}
.header-mobile .mobile-hero-img3 {
  width: 460px;
  top: -95px;
  left: -75%;
}
.header-mobile .mobile-hero-img4 {
  width: 460px;
  top: -1040px;
  left: 33.5%;
}
.mobile-hero-head {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
}
.mobile-hero-head h1 {
  font-family: 'Poppins', sans-serif;
  color: #ccc;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}
.mobile-hero-head h1 span {
  color: rgb(224, 5, 5);
}

@media screen and (max-width: 1100px) {
  .header-mobile {
    max-width: 500px;
  }
  .header-mobile .mobile-hero-bg, .header-mobile .mobile-hero-img1, .header-mobile .mobile-hero-img3, .header-mobile .mobile-hero-img2, .header-mobile .mobile-hero-img4 {
    position: relative;
  }
  .header-mobile .mobile-hero-bg {
    width: 450px;
    top: -220px;
    left: 5%;
  }
  .header-mobile .mobile-hero-img1 {
    width: 150px;
    top: 450px;
    left: -30%;
  }
  .header-mobile .mobile-hero-img3 {
    width: 360px;
    top: -250px;
    left: -40%;
  }
  .header-mobile .mobile-hero-img2 {
    width: 450px;
    top: -500px;
    left: 88%;
  }
  .header-mobile .mobile-hero-img4 {
    width: 150px;
    top: -1300px;
    left: 95%;
  }
  .mobile-hero-head {
    top: -210px;
  }
}

@media screen and (max-width: 800px) {
  .header-mobile {
    max-width: 300px;
  }
  .header-mobile .mobile-hero-bg, .header-mobile .mobile-hero-img1, .header-mobile .mobile-hero-img3, .header-mobile .mobile-hero-img2, .header-mobile .mobile-hero-img4 {
    position: relative;
  }
  .header-mobile .mobile-hero-bg {
    width: 400px;
    top: -150px;
    left: -16.5%;
    z-index: 101;
  }
  .header-mobile .mobile-hero-img1 {
    width: 120px;
    top: 530px;
    left: -40%;
  }
  .header-mobile .mobile-hero-img3 {
    width: 300px;
    top: -200px;
    left: -55%;
  }
  .header-mobile .mobile-hero-img2 {
    width: 400px;
    top: -225px;
    left: 80%;
  }
  .header-mobile .mobile-hero-img4 {
    width: 120px;
    top: -1100px;
    left: 99%;
  }
  .mobile-hero-head {
    top: -100px;
  }
  .mobile-hero-head h1{
    font-size: 22px;
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .header-mobile .mobile-hero-bg {
    width: 300px;
    top: -100px;
    left: 0%;
  }
  .header-mobile .mobile-hero-img1 {
    width: 100px;
    top: 450px;
    left: -10%;
  }
  .header-mobile .mobile-hero-img3 {
    width: 240px;
    top: -140px;
    left: -30%;
  }
  .header-mobile .mobile-hero-img2 {
    width: 300px;
    top: -200px;
    left: 60%;
  }
  .header-mobile .mobile-hero-img4 {
    width: 100px;
    top: -900px;
    left: 78%;
  }
  .mobile-hero-head {
    top: -50px;
  }
  .mobile-hero-head h1{
    font-size: 20px;
    width: 40%;
  }
}

@media screen and (max-height: 1400px) {
  .header-mobile {
    height: 50vh;
  }
}
@media screen and (max-height: 1100px) {
  .header-mobile {
    height: 70vh;
  }
}
@media screen and (max-height: 800px) {
  .header-mobile {
    height: 80vh;
  }
}
@media screen and (max-height: 650px) {
  .header-mobile {
    height: 90vh;
  }
}
@media screen and (max-height: 600px) {
  .header-mobile {
    height: 100vh;
  }
}

/*------------------
    Main Section
------------------*/
.main-section {
  position:relative; 
  top: 2750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding-top: 100px;
  margin-top: -100px;
}
.main-section-mobile {
  top: 200px !important;
}

/*------------------
    Triple C Section
------------------*/
.some-extra-space {
  height: 200px;
  width: 100%;
  background-color: #D9E9FF;
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.some-extra-space h1 {
  font-weight: 600;
  color: rgb(1, 20, 82);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  z-index: 100;
}
.triple-c-section {
  color: white;
}
.triple-c-section .row {
  background-color: #D9E9FF;
}
.triple-c-section .row .col-md-4 {
 padding: 0 3% 4% 3%;
}
.triple-c-section .row .col-md-4 img {
  width: 120px;
  margin-left: -15px;
  margin-top: -60px;
}
.triple-c-section .row .col-md-4 h4 {
  font-weight: bold;
  margin-top: 20px;
}
.triple-c-section .row .col-md-4 p {
  line-height: 28px;
}
.triple-c-section .row .col-md-4:nth-child(1)
{
  background-color: #0e8dd6;
  padding-left: 4%;
}
.triple-c-section .row .col-md-4:nth-child(2)
{
  background-color: #0D72CE;
}
.triple-c-section .row .col-md-4:nth-child(3)
{
  background-color: #0951be;
}
/*------------------
    Eazy DMS 4.0
------------------*/
.eazy-dms4 .eazy-dms4-sec1 {
  width: 50%;
  height: 500px;
  color: #fff;
  background: linear-gradient(to top, #126ec49a, #126ec49a), url(../images/index-text.jpg) no-repeat center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%;
  position: absolute;
  left: 0;
  z-index: 1;
}
.eazy-dms4 .eazy-dms4-sec1 p {
  font-size: 18px;
}

.eazy-dms4 .eazy-dms4-sec2 {
  float: right;
  width: 70%;
  height: 460px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 4%;
  padding: 0 10% 0 25%;
  background: rgb(3, 5, 26);
  color: #fff;
}

.eazy-dms4 h2 {
  padding-bottom: 20px;
}
.eazy-dms4 .underline {
  width: 80px;
  height: 40px;
  border-top: 5px solid rgb(21, 96, 209);
}
.eazy-dms4 .eazy-dms4-sec1 .underline {
  border-top: 5px solid white;
}

@media screen and (max-width: 768px) {
  .eazy-dms4 .eazy-dms4-sec1 {
    width: 80%;
    height: 660px;
    right: 0;
    z-index: 1;
  }
  .eazy-dms4 .eazy-dms4-sec2 {
    width: 80%;
    height: 800px;
    margin-top: 580px;
    padding: 0 10% 0 10%;
    background: rgb(3, 5, 26);
    color: #fff;
  }
  .eazy-dms4 h2 {
    font-size: 26px;
  }
  .eazy-dms4 h4 {
    font-size: 20px;
  }
}


/*------------------
    Logo Slider
------------------*/
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
  padding: 50px 0;
  margin-top: 30px;
}
.logo-section .logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background: rgb(255, 255, 255);
}
.logo-section .brand-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.logo-section .slide {
  width: 150px;
}
.logo-section .owl-stage {
  display: flex;
  align-items: center;
  cursor:grab;
}
.logo-section .fade-left {
  background-image: linear-gradient(to right, white, transparent);
  position: absolute;
  z-index: 99;
  left: 5%;
  height: 105px;
  width: 10%;
}
.logo-section .fade-right {
  background-image: linear-gradient(to left, white, transparent);
  position: absolute;
  z-index: 99;
  right: 5%;
  height: 105px;
  width: 10%
}
.logo-section .slide img {
  transition: all 0.5s;
}
.logo-section .slide img:hover {
  transform: scale(0.95);
}

/*------------------
    FvT Section
------------------*/
.fusionvstally-section {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.fusionvstally-section .wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.fusionvstally-section .wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: rgb(26, 104, 206);
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.fusionvstally-section .wrapper .row{
  display: flex;
}
.fusionvstally-section .wrapper .row-1{
  justify-content: flex-start;
}
.fusionvstally-section .wrapper .row-2{
  justify-content: flex-end;
}
.fusionvstally-section .wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.514);
}
.fusionvstally-section .wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.fusionvstally-section .row-1 section::before{
  right: -7px;
}
.fusionvstally-section .row-2 section::before{
  left: -7px;
}
.fusionvstally-section .row section .icon,
.fusionvstally-section .center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(26, 104, 206);
  font-size: 17px;
  box-shadow: 0 0 0 4px rgb(26, 104, 206), inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.fusionvstally-section .center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.fusionvstally-section .row-1 section .icon{
  top: 15px;
  right: -60px;
}
.fusionvstally-section .row-2 section .icon{
  top: 15px;
  left: -60px;
}
.fusionvstally-section .row section .details,
.fusionvstally-section .row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fusionvstally-section .row section .details .title{
  font-size: 22px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: rgb(26, 104, 206);
}
.fusionvstally-section .row section p{
  margin: 10px 0 17px 0;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}
.fusionvstally-section .row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.fusionvstally-section .row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .fusionvstally-section .wrapper .center-line{
    left: 40px;
  }
  .fusionvstally-section .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .fusionvstally-section .wrapper .row section{
    width: 100%;
  }
  .fusionvstally-section .row-1 section::before{
    left: -7px;
  }
  .fusionvstally-section .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .fusionvstally-section .wrapper .center-line,
  .fusionvstally-section .row section::before,
  .fusionvstally-section .row section .icon{
    display: none;
  }
  .fusionvstally-section .wrapper .row{
    margin: 10px 0;
  }
}

/*------------------
    Testimonials Section
------------------*/

.testimonials-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
  background-color: rgb(233, 241, 245);
}
.testimonials-cards {
  display: flex;
  justify-content: center;
}
.testimonials-section .card {
  width: 16rem;
  padding: 20px;
  margin: 0 20px;
  border: none;
  background-color: rgb(233, 241, 245);
}
.testimonials-section .card .card-body {
  display: flex;
  align-items: center;

  flex-direction: column;
  padding: 1rem;
}
.testimonials-section .card .card-img-top {
  padding: 0px 20px 0 20px;
  display: flex;
  justify-content: center;
}
.testimonials-section .card .member-img {
  margin-left: 10%;
  width: 110%;
}
.testimonials-section .card .card-body {
  font-family: 'Open Sans', sans-serif;
}
.testimonials-section .card .card-body h5 {
  text-align: center;
}
.testimonials-section .card .card-body p {
  text-align: center;
  height: 50px;
  font-size: 15px;
}
.testimonials-section .card .btn {
  background-color: transparent;
  color: #1c6894;
  text-transform: uppercase;
  font-size: 14px;
  padding: 9px 20px;
  border: 1px solid #1c6894;
  transition: 0.5s ease;
}
.testimonials-section .card .btn:hover {
  background-color: #1c6894;
  color: white;
}
.team-section .card .btn:focus {
  outline: none;
  box-shadow: none;
}
.testimonials-section .modal {
  margin-top: 100px;
}
.testimonials-section .modal .modal-body .modal-video {
  width: 100%;
  height: 460px;
}

@media screen and (max-width: 1200px) {
  .testimonials-section .card {
    width: 15rem;
    padding: 15px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 1050px) {
  .testimonials-section .card {
    width: 14rem;
    padding: 15px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 992px) {
  .testimonials-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .testimonials-section .card {
    width: 19rem;
    padding: 15px;
    margin: 10px 20px;
  }
  .testimonials-section .modal .modal-body .modal-video {
    width: 100%;
    height: 260px;
  }
}
@media screen and (max-width: 720px) {
  .testimonials-section .card {
    width: 24rem;
  }
  .testimonials-section .card .member-img {
    border-radius: 50%;
    width: 60%;
  }
}


/* --------------------
    Stats Section 
-------------------- */
.counts #stats-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
}

.counts #stats-box .sec-1 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counts #stats-box .years {
  font-size: 350px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.counts #stats-box .text-img {
  position: relative;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom right, #1F305D, rgb(24, 95, 177));
  -webkit-background-clip: text;
  width: 100%;
  margin-left: 60px;
  margin-right: 20px;
}

.counts #particles-js {
  position: absolute;
  width: 410px;
  height: 380px;
  top: 0;
  left: 0;
}

.counts .particles-js-canvas-el {
  position: relative;
  top: -15px;
  left: 5%;
}

.counts .experience {
  width: 60%;
}

.counts .experience h2 {
  border-left: 5px solid rgb(177, 177, 177);
  padding-left: 20px;
  margin-bottom: 20px;
}

.counts .experience h6 {
  font-size: 15px;
  color: rgb(95, 95, 95);
}


.counts #stats-box .sec-2 {
  width: 40%;
  display: flex;
	justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.counts .sec-2 h5 {
  margin: 0;
}

.counts .stats {
  width: 40%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.counts .stats .fas {
  color: #1F305D;
  font-size: 50px;
}

.counts .counter-flex {
  display: flex;
  flex-direction: row;
}

.counts .button {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.2rem 3rem;
  font-family: inherit;
  position: relative;
}

.counts .button::before, .button::after {
  position: absolute;
  top: 0;
  height: 100%;
}

.counts .button--mimas {
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-weight: 700;
	font-size: 0.85rem;
	overflow: hidden;
	color: #fff;
}

.counts .button--mimas span {
	position: relative;
	mix-blend-mode: difference;
}

.counts .button--mimas::before {
	content: '';
	background: rgb(20, 20, 20);
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s ease;
}

.counts .button--mimas:hover::before {
	transform: translate3d(100%,0,0);
}

@media screen and (max-width: 1000px) {
  .counts #stats-box {
    height: 100%;
    flex-direction: column;
  }
  .counts #stats-box .sec-1 {
    width: 100%;
    height: 400px;
    margin-right: 50px;
  }
  .counts #stats-box .sec-2 {
    width: 80%;
    align-items: normal;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .counts .stats {
   margin: 0%;
   width: 100%;
  }
  .counts .particles-js-canvas-el {
    left: 15%
  }
}

@media screen and (max-width: 750px) {
  .counts #stats-box .years {
    font-size: 300px;
  }
  .counts .experience {
    width: 100%;
  }
  .counts #particles-js {
    position: absolute;
    width: 340px;
    height: 340px;
  }
  .counts .particles-js-canvas-el {
    left: 2%;
  }
  .counts .experience h2 {
    font-size: 30px !important;
  }
  .counts .experience h6 {
    font-size: 15px;
  }
  .counts .button {
    padding: 1.2rem 2rem;
  }
}

@media screen and (max-width: 650px) {
  .counts #stats-box {
    margin: 0px;
  }
  .counts #stats-box .years {
    font-size: 140px;
  }
  .counts .experience h2 {
    font-size: 22px !important;
    padding-left: 10px;
    margin-bottom: 30px;
  }
  .counts .experience h6 {
    font-size: 14px;
    display: none;
  }
  .counts #particles-js {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  .counts .button {
    padding: 0.8rem 1rem;
    margin: 0;
  }
  .counts .button--mimas {
    font-size: 10px;
  }
  .counts .stats {
    margin-top: -70px;
    font-size: 18px;
  }
  .counts .stats .fas {
    color: #1F305D;
    font-size: 30px;
  }
  .counts .sec-2 h5 {
    font-size: 14px;
  }
}


/* --------------------
    Blogs Section 
-------------------- */

.blogs-section {
  margin-top: 50px;
  background-color: rgb(233, 241, 245);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
}
.blogs-section .row {
  width: 80%;
  justify-content: center;
}
.blogs-section .row .col-lg-3 {
  
}
.blogs-section .blog-img {
  transition: 0.4s ease;
  transform: scale(1.02);
}
.blogs-section .blog-img:hover {
  transform: scale(1);
}
.blogs-section .blog-img img {
  width: 100%;
}
.blogs-section .blog-img .blog-date {
  color:#449bce;
  position: absolute;
  bottom: -1px;
  left: -1px;
  font-family: 'Poppins', sans-serif;
  font-size: 170%;
  background-color: rgb(233, 241, 245);
  padding: 10px 20px 0 10px;
  cursor: default;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 90% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 90% 0);
}
.blogs-section .blog-img .blog-date span {
  font-size: 80%;
}

.blogs-section .blog-body {
  padding-top: 20px;
}
.blogs-section .blog-body h3 {
  color: #444;
  font-size: 24px;
}
.blogs-section .blog-body p {
  color: #777;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .blogs-section .row {
    width: 60%;
  }
  .blogs-section .row .col-lg-4{
    margin: 20px;
  }
}

.blogs-section .offset {
  --color: #2454f3;
  --hover: #30adf5;
  background: none;
  border: 2px solid;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 1em 2em 0.9em;
  cursor: pointer;
  color: var(--color);
  transition: 0.25s;
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.blogs-section .offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  border-color: var(--hover);
  color: #fff;
}

/* --------------------
    Particles Section 
-------------------- */
.particles-section {
  width: 100%;
}
#parallax {
  height: 450px;
  background-color: rgb(38, 46, 71);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.particles-section #particles-js-2 {
  background-color: rgb(38, 46, 71);
  width: 1500px;
  margin-left: -100px;

}
.particles-section #particles-js-2 .particles-js-canvas-el {
  left: 0;
  top: 0;
}
.particles-section .particles-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  color: #fff;
  z-index: 15;
}
.particles-section .particles-content h1 {
  font-size: 54px;
  font-weight: 700;
}
.particles-section .particles-content h5 {
  margin-top: 20px;
  font-weight: 400;
  width: 80%;
}
.particles-section .particles-content button {
  margin-top: 30px;
  padding: 20px 50px 20px 55px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}
.particles-section .particles-content button i {
  position: relative;
  left: 0;
  transition: 0.3s ease;
  color: rgb(38, 46, 71);
}
.particles-section .particles-content button:hover {
  color: rgb(38, 46, 71);
  background-color: white;
}
.particles-section .particles-content button:hover i {
  left: 10px;
}
.particles-section .particles-content button:focus {
  outline: none;
}











/* --------------------
    Footer Section 
-------------------- */
.footer-section {
  padding-top: 70px;
  background-color: #1F305D;
  width: 100%;
  color: #fff;
}
.footer-section .footer-inner-1 {
  padding-bottom: 20px;
}
.footer-section .contact-col .address, .footer-section .contact-col ul li, .footer-section .contact-col ul li a, .footer-section .links-col ul li a {
  color: #bbb;
  transition: 0.5s ease;
}
.footer-section .contact-col .address:hover, .footer-section .contact-col ul li:hover, .footer-section .contact-col ul li a:hover {
  color: #fff;
  
}
.footer-section .links-col ul li a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
} 

.footer-section h5 {
  font-size: 24px;
}
.footer-section ul {
  margin-left: -38px;
}
.footer-section ul li {
  list-style: none;
}
.footer-section .contact-col ul li, .footer-section .contact-col .address {
  display: flex;
}
.footer-section .contact-col ul li:hover .contact-icon .ci {
  backface-visibility: hidden;
  animation: wiggle 1s infinite;
}
.footer-section .contact-col .address:hover .contact-icon .ci {
  backface-visibility: hidden;
  animation: wiggle 1s infinite;
}
.footer-section .contact-col i {
  font-size: 17px;
}
.footer-section .contact-col ul li {
  margin: 10px 0;
}

.footer-section .links-col {
  position: relative;
  right: 10px;
}
.footer-section .links-col ul li {
  margin: 5px 0 15px 0;
}
.footer-section .links-col ul li i {
  color: rgb(45, 144, 224)
}
.footer-section .links-col .social-links a .fab {
  font-size: 24px;
  margin: 0 10px 10px 12px;
  color: #bbb;
  transition: all 0.3s ease;
}
.footer-section .links-col .product-links {
  margin-left: -5px;
}
.footer-section .links-col .product-links img {
  width: 35px;
  margin: 0 5px;
}
.footer-section .links-col .social-links .fa-facebook-f:hover {
	color: #4064AC;
}
.footer-section .links-col .social-links .fa-twitter:hover {
	color: #4DA6E9;
}
.footer-section .links-col .social-links .fa-linkedin:hover {
	color: #2464AD;
}
.footer-section .links-col .social-links .fa-youtube:hover {
	color: #F60000;
}

.footer-section .partners-col {
  position: relative;
  left: 10px;
}
.footer-section .partners-col .link-image img {
  width: 100%;
  margin: 10px 0;
  filter: grayscale(100%) brightness(150%);
  transition: 0.5s ease;
}
.footer-section .partners-col .link-image img:hover {
  filter: grayscale(0%) brightness(100%);
}

.footer-section .footer-inner-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14234d;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  .footer-section h5 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 992px) {
  .footer-section .partners-col .link-image img {
    width: 70%;
  }
  .footer-section .links-col {
    position: relative;
    right: 0px;
  }
  .footer-section .partners-col {
    position: relative;
    left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .footer-section .contact-col, .footer-section .contact-col ul, .footer-section .links-col, .footer-section .partners-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .footer-section .links-col .product-links img {
    width: 40px;
    margin: 0 5px;
  }
  .footer-section .links-col .product-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
  }
  .footer-section .footer-inner-1 .container .row .links-col .links-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  .footer-section .footer-inner-1 .container .row .links-col .links-row .col-6 .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  12% { transform: rotate(7deg); }
  38% { transform: rotate(-7deg); }
  64% { transform: rotate(7deg); }
  90% { transform: rotate(-7deg); }
  100% { transform: rotate(0deg); }
}

