html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  --industry: #3C84DA;
  --industry-sec: #dbecff;
}
.industry-intro .col-lg-6:nth-child(2) img {
  filter: invert(47%) sepia(99%) saturate(2277%) hue-rotate(194deg) brightness(92%) contrast(84%);
}
main {
  margin-top: 80px;
}

/* ================
    Industry Intro
   ================ */
.industry-intro {
  padding: 20px 0 40px 0;
}
.industry-intro .col-lg-6 {
  display: flex;
  align-items: center;
  justify-content: left;
}
.industry-intro .industry-body h1 {
  color: var(--industry);
  font-weight: 700;
  margin-top: 50px;
}
.industry-intro .industry-body .underline {
  width: 20%;
  border-bottom: 4px solid #555;
  margin-bottom: 20px;
}
.industry-intro .industry-body p {
  color: #444;
}
.industry-intro .col-lg-6:nth-child(2) img {
  position: absolute;
  top: 0;
  right: 10%;
}

.industry-main {
  padding: 0px 0px;
}
.industry-main .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.industry-main .col-lg-2 i {
  color: var(--industry);
  font-size: 100px;
}
.industry-main .col-lg-5 {
  background-color: var(--industry-sec);
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.industry-main h3 {
  color: #333;
  font-size: 600;
}
.industry-main p {
  color: #444;
}


@media screen and (max-width: 992px) {
  .industry-intro .row {
    flex-direction: column-reverse;
  }
  .industry-intro .industry-body h1 {
    margin-top: 80px;
  }
  .industry-main .col-lg-2 i {
    transform: rotate(90deg);
  }
  .industry-main .col-lg-5 {
    margin: 10px;
  }
}

@media screen and (max-width: 576px) {
  .industry-main h3 {
    font-size: 20px;
  }
  .industry-main p {
    font-size: 14px;
  }
}

.industry-intro .industry-front {
  width: 100%;
}
.industry-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 992px) {
  .industry-intro .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .industry-intro .industry-front {
    width: 80%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .industry-intro .industry-front {
    width: 90%;
  }
  .industry-container {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .industry-intro .industry-front {
    width: 100%;
  }
  .industry-container {
    width: 80%;
  }
  .industry-main .industry-container {
    width: 85%;
    padding: 0;
  }
}
@media screen and (max-width: 380px) {
  .industry-intro {
    padding: 50px 0 80px 0;
  }
}

.particles-left {
  width: 130px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 200px;
}
.particles-left img {
  width: 100%;
}
.particles-left img:nth-child(1) {
  animation: 2.1s ease-in-out infinite float;
}
.particles-left img:nth-child(2) {
  animation: 2s ease-in-out infinite float;
}
.particles-left img:nth-child(3) {
  animation: 1.9s ease-in-out infinite float;
}
.particles-left img:nth-child(4) {
  animation: 1.8s ease-in-out infinite float;
}
.particles-right {
  width: 130px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 200px;
}
.particles-right img {
  width: 100%;
}
.particles-right img:nth-child(1) {
  animation: 2s ease-in-out infinite float;
}
.particles-right img:nth-child(2) {
  animation: 1.8s ease-in-out infinite float;
}
.particles-right img:nth-child(3) {
  animation: 2.1s ease-in-out infinite float;
}
.particles-right img:nth-child(4) {
  animation: 1.9s ease-in-out infinite float;
}
.particles-bottom {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.particles-bottom img {
  height: 260px;
}
.particles-bottom img:nth-child(1) {
  animation: 1.9s ease-in-out infinite float;
}
.particles-bottom img:nth-child(2) {
  animation: 1.8s ease-in-out infinite float;
}
.particles-bottom img:nth-child(3) {
  animation: 2.1s ease-in-out infinite float;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 992px) {
  .particles-bottom {
    justify-content: center;
  }
  .particles-left, .particles-right {
    width: 100px;
  }
  .particles-bottom {
    height: 0;
  }
  .particles-bottom img {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .particles-left, .particles-right {
    width: 100px;
  }
}

/*------------------
    Logo Slider
------------------*/
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
  padding: 50px 0;
  margin: 0 auto;
  margin-top: 30px;
}
.logo-section .logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  border: 3px solid var(--industry);
  border-radius: 20px;
  padding: 10px 0 30px 0;
  background-color: #fff;
}
.logo-section .brand-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.logo-section .slide {
  width: 150px;
}
.logo-section .owl-stage {
  display: flex;
  align-items: center;
  cursor:grab;
}
.logo-section .fade-left {
  background-image: linear-gradient(to right, white, transparent);
  position: absolute;
  z-index: 99;
  left: 5%;
  height: 105px;
  width: 10%;
}
.logo-section .fade-right {
  background-image: linear-gradient(to left, white, transparent);
  position: absolute;
  z-index: 99;
  right: 5%;
  height: 105px;
  width: 10%
}
.logo-section .slide img {
  transition: all 0.3s;
}
.logo-section .slide img:hover {
  transform: scale(0.95);
}
