html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  --industry: #3C84DA;
  --industry-sec: #dbecffcc;
}
.industry-intro .col-lg-6:nth-child(2) img {
  filter: invert(47%) sepia(99%) saturate(2277%) hue-rotate(194deg) brightness(92%) contrast(84%);
}
main {
  margin-top: 80px;
}

/* ================
    Industry
   ================ */
.industry-intro {
  padding: 20px 0 40px 0;
}
.industry-intro .col-lg-6 {
  display: flex;
  align-items: center;
  justify-content: left;
}
.industry-intro .industry-body h1 {
  color: var(--industry);
  font-weight: 700;
  margin-top: 50px;
}
.industry-intro .industry-body .underline {
  width: 20%;
  border-bottom: 4px solid #555;
  margin-bottom: 20px;
}
.industry-intro .industry-body p {
  color: #444;
}
.industry-intro .col-lg-6:nth-child(1) img {
  width: 90%;
}
.industry-intro .col-lg-6:nth-child(2) img {
  position: absolute;
  top: 0;
  right: 10%;
}

.industry-main {
  padding: 0px 0px;
}
.industry-main .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.industry-main .col-lg-2 i {
  color: var(--industry);
  font-size: 100px;
}
.industry-main .col-lg-5 {
  background-color: var(--industry-sec);
  border: 3px solid var(--industry);
  padding: 40px 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.industry-main h3 {
  color: #333;
  font-size: 600;
}
.industry-main p {
  color: #444;
}

@media screen and (min-width: 1400px) {
  .industry-intro .col-lg-6:nth-child(1) img {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .industry-intro .col-lg-6:nth-child(1) img {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .industry-intro .row {
    flex-direction: column-reverse;
  }
  .industry-intro .industry-body h1 {
    margin-top: 80px;
  }
  .industry-intro .col-lg-6:nth-child(1) img {
    width: 80%;
  }
  .industry-main .col-lg-2 i {
    transform: rotate(90deg);
  }
  .industry-main .col-lg-5 {
    margin: 10px;
  }
}
@media screen and (max-width: 576px) {
  .industry-main h3 {
    font-size: 20px;
  }
  .industry-main p {
    font-size: 14px;
  }
  .industry-intro .col-lg-6:nth-child(1) img {
    width: 100%;
  }
}

.industry-intro .industry-front {
  width: 100%;
}
.industry-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 991px) {
  .industry-intro .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .industry-intro .industry-front {
    width: 80%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .industry-intro .industry-front {
    width: 90%;
  }
  .industry-container {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .industry-intro .industry-front {
    width: 100%;
  }
  .industry-container {
    width: 80%;
  }
  .industry-main .industry-container {
    width: 85%;
    padding: 0;
  }
}
@media screen and (max-width: 380px) {
  .industry-intro {
    padding: 50px 0 80px 0;
  }
}

.particles-left {
  width: 130px;
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 200px;
}
.particles-left img {
  width: 100%;
  opacity: 0.7;
}
.particles-left img:nth-child(1) {
  animation: float 2s ease-in-out infinite;
}
.particles-left img:nth-child(2) {
  animation: float 1.8s ease-in-out infinite;
}
.particles-left img:nth-child(3) {
  animation: float 1.9s ease-in-out infinite;
}
.particles-left img:nth-child(4) {
  animation: float 2.1s ease-in-out infinite;
}
.particles-right {
  width: 130px;
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 200px;
}
.particles-right img {
  width: 100%;
  opacity: 0.7;
}
.particles-right img:nth-child(1) {
  animation: float 1.8s ease-in-out infinite;
}
.particles-right img:nth-child(2) {
  animation: float 2.1s ease-in-out infinite;
}
.particles-right img:nth-child(3) {
  animation: float 2s ease-in-out infinite;
}
.particles-right img:nth-child(4) {
  animation: float 1.9s ease-in-out infinite;
}
.particles-bottom {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.particles-bottom img {
  height: 260px;
}
.particles-bottom img:nth-child(1) {
  animation: float 2s ease-in-out infinite;
}
.particles-bottom img:nth-child(2) {
  animation: float 1.8s ease-in-out infinite;
}
.particles-bottom img:nth-child(3) {
  animation: float 1.9s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 1400px) {
  .particles-left, .particles-right {
    width: 150px;
  }
  .particles-bottom img {
    height: 300px;
  }
}
@media screen and (max-width: 991px) {
  .particles-bottom {
    justify-content: center;
  }
  .particles-left, .particles-right {
    width: 100px;
  }
  .particles-bottom {
    height: 0;
  }
  .particles-bottom img {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .particles-left, .particles-right {
    width: 100px;
  }
}

/*------------------
    Logo Slider
------------------*/
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  margin-top: 30px;
}
.logo-section .logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 1500px;
  border: 3px solid var(--industry);
  box-shadow: 0 6px 12px #0e315833;
  border-radius: 25px;
  padding: 10px 0 30px 0;
  background-color: #fff;
}
.logo-section .brand-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.logo-section .slide {
  width: 150px;
}
.logo-section .owl-stage {
  display: flex;
  align-items: center;
  cursor: grab;
}
.logo-section .slide img {
  transition: all 0.3s;
}
.logo-section .slide img:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 1867px) {
  .logo-section .logo-div {
    width: 1050px;
  }
}
@media screen and (max-width: 1300px) {
  .logo-section .logo-div {
    width: 680px;
  }
}
@media screen and (max-width: 850px) {
  .logo-section .logo-div {
    width: 400px;
  }
  .logo-section .slide {
    width: 120px;
  }
}
@media screen and (max-width: 620px) {
  .logo-section .logo-div {
    width: 90%;
  }
}


/*------------------
    Testimonials
------------------*/
.testimonials {
  padding: 60px 0;
}
.testimonials .owl-carousel .item {
  text-align: center;
  padding: 30px 50px;
  margin-bottom: 20px;
}
.testimonials .shadow-effect {
  background: #fff;
  padding: 20px 50px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 14px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
.testimonials .owl-carousel .shadow-effect p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}
.testimonials .owl-carousel .owl-item .testimonial-logo {
  width: 150px;
  margin: 20px auto;
}
.testimonials .owl-carousel .owl-item .testimonial-img {
  max-width: 100px;
  margin: 30px auto 20px;
  border-radius: 50%;
}
.testimonials .owl-carousel .owl-item h5 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}
.testimonials .owl-carousel .owl-item h6 {
  color: #666;
  font-family: 'Poppins', sans-serif;
}

.testimonials button {
  outline: none;
}
.testimonials .owl-carousel .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  width: 100%;
  height: 0px;
  font-size: 60px;
  color: var(--industry);
}
.testimonials .owl-carousel .owl-dots .owl-dot.active span,
.testimonials .owl-carousel .owl-dots .owl-dot:hover span {
  background: var(--industry);
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
.testimonials .owl-carousel .owl-dots{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.testimonials .owl-carousel .owl-dots .owl-dot{
  display: inline-block;
}
.testimonials .owl-carousel .owl-dots .owl-dot span {
  background: #91c0fa;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.4);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .testimonials .owl-carousel .shadow-effect p {
    font-size: 15px;
  }
  .testimonials .owl-carousel .owl-item .testimonial-logo {
    width: 120px;
    margin: 15px auto;
  }
  .testimonials .owl-carousel .owl-item .testimonial-img {
    max-width: 70px;
    margin: 20px auto 10px;
  }
  .testimonials .owl-carousel .owl-item h5 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .testimonials .owl-carousel .owl-item h6 {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .testimonials .owl-carousel .item {
    padding: 20px 30px;
  }
  .testimonials .shadow-effect {
    padding: 20px 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.10), 0 8px 12px rgba(0,0,0,0.02);
  }
}