html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------
    Customers Hero 
-------------------- */
.company-hero {
  height: 60vh;
  background-image: url(../images/company.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.company-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.company-hero p {
  font-size: 14px;
  text-transform: uppercase;
}


/* --------------------
    Life at Eazy Section 
-------------------- */
.portfolio {
  overflow: hidden;
  width: 100%;
  padding: 60px 0;
}
.portfolio .container {
  max-width: 100%;
  flex: 0 0 100%;
}
.portfolio .portfolio-item {
  transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
}
.portfolio .col-6 {
  padding: 0;
}
.portfolio .portfolio-item h3 {
  background-color: var(--color-5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-family: 'Poppins', sans-serif;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin: 0 5px 5px 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: var(--color-6);
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--color-2);
}
.portfolio .portfolio-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  width: 100%;
  transition: all ease-in-out 0.3s;
}
.portfolio .toggler {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.portfolio .toggler .icon {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 70px;
  transition: 0.8s ease;
  opacity: 0;
  transform: translateY(100px);
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.03);
}
.portfolio .toggler:hover .icon {
  opacity: 1;
  transform: translateY(-50px);
}

@media screen and (max-width: 1050px) {
  .portfolio .toggler .icon {
    width: 50px;
    transform: translateY(80px);
  }
  .portfolio .toggler:hover .icon {
    transform: translateY(-30px);
  }
}
@media screen and (max-width: 750px) {
  .portfolio .toggler .icon {
    width: 35px;
    transform: translateY(70px);
  }
  .portfolio .toggler:hover .icon {
    transform: translateY(-20px);
  }
}
@media screen and (max-width: 500px) {
  .portfolio .toggler .icon {
    width: 25px;
    transform: translateY(50px);
  }
  .portfolio .toggler:hover .icon {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 350px) {
  .portfolio .toggler .icon {
    width: 17px;
    transform: translateY(40px);
  }
  .portfolio .toggler:hover .icon {
    transform: translateY(-7px);
  }
}

#year-17-18-toggler, #christmas-toggler {
  left: 25% !important;
  transition: 0.3s ease;
}
.window-resize {
  transform:translate3d(0,0,0) !important;
  -webkit-transform:translate3d(0,0,0) !important;
  -moz-transform:translate3d(0,0,0) !important;
}
.masonry {
  display: none;
  position: fixed !important;
  top: 0px !important;
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.719);
  z-index: 100000;
  transform:translate3d(0,0,0) !important;
  -webkit-transform:translate3d(0,0,0) !important;
  -moz-transform:translate3d(0,0,0) !important;
}
.masonry .masonry-wrapper {
  background-color:#222;
  padding: 15px;
  width: 90%;
  height: 90%;
  margin: 2.5% auto;
  transform: scale(0.5);
  position: relative;
  opacity: 0;
  overflow-y: scroll;
  transition: 0.5s ease;
}
.masonry .masonry-wrapper::-webkit-scrollbar {
  width: 10px;
}
.masonry .masonry-wrapper::-webkit-scrollbar-track {
  background-color: #333;
}
.masonry .masonry-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.295); 
}
.masonry p {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 0px 0px 0px;
}
.masonry p i {
  color: #fff;
  background-color: var(--color-6);
  padding: 6px 10px;
  font-size: 24px;
  cursor: pointer;
}
.masonry p i:hover {
  color: #fff;
}
.masonry .close-album-btn {
  padding: 13px 25px;
  display: flex;
  margin: 20px auto 10px auto;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  background-color: var(--color-6);
  color: #fff;
}
.masonry .close-album:hover {
  background-color: var(--color-5);
}
.masonry .close-album-btn:focus {
  outline: none;
}
.masonry .overflow-hidden {
  overflow: hidden;
  width: 100%;
}
.masonry img {
  height: auto;
  width: 100%;
  filter: brightness(80%);
  transition: 0.3s ease;
}
.masonry img:hover {
  filter: brightness(100%);
  transform: scale(1.05);
}
.masonry video {
  width: 100%;
  filter: brightness(80%);
  transition: 0.3s ease;
  margin-bottom: -7.1px;
}
.masonry video:hover {
  filter: brightness(100%);
  transform: scale(1.05);
}

.masonry .grid2 {
  column-count: 2;
  column-gap: 0px;
  max-width: 100%;
  margin: auto;
  width: 100%;
}
.masonry .grid3 {
  column-count: 3;
  column-gap: 0px;
  max-width: 100%;
  margin: auto;
  width: 100%;
  display: flex;
}
.masonry a {
  width: 100%;
}
.masonry .grid4 {
  column-count: 4;
  column-gap: 0px;
  max-width: 100%;
  margin: auto;
  width: 100%;
  display: flex;
}
.masonry .grid4-wrap {
  column-count: 4;
  column-gap: 0px;
  max-width: 100%;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.masonry .grid4-wrap a {
 width: 50%;
}

.grid-wrapper  {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.grid-wrapper a {
  width: 33.33%;
  padding: 5px;
}
.grid-wrapper a img {
  width: 100%;
}

.display-block {
  display: block !important;
}