html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------
    Customers Hero 
-------------------- */
.company-hero {
  height: 60vh;
  background-image: url(../images/company.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.company-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.company-hero p {
  font-size: 14px;
  text-transform: uppercase;
}


/* --------------------
    Life at Eazy Section 
-------------------- */
.portfolio {
  overflow: hidden;
  margin: 40px 0;
  width: 100%;
}
.portfolio .container {
  max-width: 100%;
  flex: 0 0 100%;
}
.portfolio .portfolio-item {
  transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
}
.portfolio .col-6 {
  padding: 0;
}
.portfolio .portfolio-item h3 {
  background-color: #db3030;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-family: 'Poppins', sans-serif;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin: 0 5px 5px 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #e03a3c;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(9, 114, 155, 0.5);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(9, 114, 155, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .hide {
  display: none;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.portfolio .portfolio-wrap .portfolio-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
}
.portfolio .portfolio-wrap .portfolio-links h4 {
  font-size: 30px;
}
.portfolio .portfolio-wrap .portfolio-links i {
  color: rgb(255, 255, 255);
  margin: 0 5px 0 0;
  font-size: 28px;
  transition: 0.5s;
  transform: translateY(60px);
}
.portfolio .portfolio-wrap:hover i {
  transform: translateY(0px);
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.03);
}
@media screen and (max-width: 900px) {
  .portfolio .portfolio-wrap .portfolio-links i {
    font-size: 18px;
  }
  .portfolio .portfolio-wrap:hover i {
    transform: translateY(-7px);
  }
  .portfolio .portfolio-wrap .portfolio-links h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .portfolio .portfolio-wrap .portfolio-links i {
    font-size: 15px;
  }
  .portfolio .portfolio-wrap .portfolio-info {
    padding-bottom: 10px;
  }
  .portfolio .portfolio-wrap .portfolio-links h4 {
    font-size: 15px;
  }
  .portfolio .portfolio-wrap:hover i {
    transform: translateY(-7px);
  }
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio .white-bg {
  background-color: rgb(245, 120, 120);
  width: 100%;
  height: 200vh;
}

.portfolio .col-12 {
  background-color:#222;
  padding: 10px;
}
.window-resize {
  transform:translate3d(0,0,0) !important;
  -webkit-transform:translate3d(0,0,0) !important;
  -moz-transform:translate3d(0,0,0) !important;
}
.masonry {
  display: none;
  left: 0 !important;
}
.masonry p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 8px 0;
}
.masonry p i {
  color: #bbb;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.masonry p i:hover {
  color: #fff;
}
.masonry img {
  height: auto;
  width: 100%;
  filter: brightness(80%);
  transition: 0.3s ease;
}
.masonry img:hover {
  filter: brightness(100%);
  transform: scale(1.05);
}
.masonry .overflow-hidden {
  overflow: hidden;
  width: 100%;
}

.masonry .grid2 {
  column-count: 2;
  column-gap: 0px;
  max-width: 100%;
  margin: auto;
  width: 100%;
}
.masonry .grid3 {
  column-count: 3;
  column-gap: 0px;
  max-width: 100%;
  margin: auto;
  width: 100%;
  display: flex;
}
.masonry .grid4 {
  column-count: 4;
  column-gap: 0px;
  max-width: 100%;
  margin: auto;
  width: 100%;
  display: flex;
}
.masonry .grid4-wrap {
  column-count: 4;
  column-gap: 0px;
  max-width: 100%;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.masonry .grid4-wrap a {
 width: 50%;
}