html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* --------------------
    About Hero 
-------------------- */
.about-hero {
  height: 60vh;
  background-image: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.about-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.about-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    About Section 
-------------------- */
.main-section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-section {
  margin-top: 40px;
  width: 85%;
  text-align: center;
  color: #555;
}

/* --------------------
    HDMS Section 
-------------------- */

.live {
  width: 140px;
  position: relative;
  bottom: 17.5px;
  margin-right: -10px;
  margin-left: -10px;
}
.hybrid-dms-section {
  margin-top: 20px;
  text-align: center;
  color: #555;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
  background-color: rgb(233, 241, 245);
}
.hybrid-dms-cards {
  margin-top: 30px;
}
.hybrid-dms-card {
  margin: 15px 0;
}
.hybrid-dms-image img {
  width: 100%;
}
.hybrid-dms-image h6 {
  font-weight: 700;
  color: rgb(248, 248, 248);
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}
.hybrid-dms-image i {
  font-size: 26px;
  position: absolute;
  bottom: 20%;
  left: 45%;
  color:rgb(0, 110, 255);
  background-color: white;
  border-radius: 50%;
}

.hybrid-dms-image .hybrid-dms-head {
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 10%;
  background-color: #051f66c5;
  padding-right: 30px;
  clip-path: 
  polygon(
    0% 0%,     /* top left */
    0% 0%,     /* top left */
    88% 0%,    /* top right */
    100% 54%,   /* top right */
    88% 100%,  /* bottom right */
    88% 100%,  /* bottom right */
    0% 100%,   /* bottom left */
    0 100%      /* bottom left */
  );
}

.hybrid-dms-text {
  background-color: white;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 4%;
  margin-left: 9%;
  margin-right: 9%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.hybrid-dms-text-top-left {
  transform: translate3d(-20px, -20px, 0);
}
.hybrid-dms-text-top-right {
  transform: translate3d(20px, -20px, 0);
}
.hybrid-dms-text-bottom-left {
  transform: translate3d(-20px, 20px, 0);
}
.hybrid-dms-text-bottom-right {
  transform: translate3d(20px, 20px, 0);
}
.hybrid-dms-card:hover .hybrid-dms-text{
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.hybrid-dms-text p {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.hybrid-dms-text i {
  font-size: 26px;
}


/* --------------------
    Why HDMS Section 
-------------------- */

.why-hybrid-dms-section {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 85%;
  text-align: center;
}
.why-hybrid-dms-section .why-dms {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}
.why-hybrid-dms-section .why-dms .fal {
  color:rgb(17, 68, 177);
  font-size: 40px;
  margin-right: 10px;
  transition: 0.7s ease;
}
.why-hybrid-dms-section .why-dms-text h6 {
  color: #444;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  min-height: 20px;
}
.why-hybrid-dms-section .why-dms-text p {
  color: #666;
  font-size: 14px;
}
.why-hybrid-dms-section .why-dms:hover .fal {
  transform: translateY(10px);
}

/* --------------------
    About Benefits Section 
-------------------- */
.about-benefits-section {
  width: 100%;
}
.about-benefits-section .not-sure {
  background: url(../images/not-sure.jpg);
  background-size: cover;
  min-height: 260px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
}
.about-benefits-section .not-sure h3 {
  width: 90%;
}
.about-benefits-section .not-sure span {
  color: rgb(0, 102, 255);
}
.about-benefits-section .not-sure h5 {
  font-weight: 600;
  margin-top: 5px;
  width: 90%;
}
.about-benefits-section .not-sure button {
  background-color: rgb(214, 16, 16);
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.about-benefits-section .not-sure button:hover {
  cursor: pointer;
  background-color: rgb(192, 16, 16);
}
@media screen and (max-width: 768px) {
  .about-benefits-section .not-sure h3 {
    font-size: 22px;
  }
  .about-benefits-section .not-sure h5 {
    font-size: 18px;
  }
}

/* Benefits for distributors */
.about-benefits-section .benefits .row {
  margin-top: 20px;
}
.about-benefits-section .benefits .col-lg-7, .about-benefits-section .benefits .col-lg-5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-benefits-section .benefits .col-lg-7 {
  padding: 30px 0;
  padding-left: 10%;
}
.about-benefits-section .benefits .col-lg-7 h3 {
  font-weight: 700;
  font-size: 32px;
  color: #444;
  margin-left: 40px;
}
.about-benefits-section .benefits .col-lg-7 ul {
  color: #555;
  list-style: none;
  margin-top: 5px;
}
.about-benefits-section .benefits .col-lg-7 ul li {
  line-height: 30px;
}
.about-benefits-section .benefits .col-lg-7 ul li i{
  color: rgb(214, 16, 16);
}
.about-benefits-section .benefits-distributors .col-lg-5 {
  align-items: flex-start;
}
.about-benefits-section .benefits-distributors .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

/* Benefits for retailers */
.about-benefits-section .benefits-retailers .col-lg-5 {
  align-items: flex-end;
}
.about-benefits-section .benefits-retailers .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

/* Benefits for company */
.about-benefits-section .benefits-company .col-lg-5 {
  align-items: flex-start;
}
.about-benefits-section .benefits-company .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

@media screen and (max-width: 992px) {
  .about-benefits-section .benefits .col-lg-7 {
    align-items: center;
    padding: 0;
    margin-left: -15px;
  }
  .about-benefits-section .benefits .col-lg-7 h3 {
    font-size: 24px;
  }
  .about-benefits-section .benefits-distributors .col-lg-5, .about-benefits-section .benefits-company .col-lg-5 {
    align-items: center;
  }
  .about-benefits-section .benefits-retailers .row{
    flex-direction: column-reverse;
  }
  .about-benefits-section .benefits-retailers .col-lg-5 {
    align-items: center;
  }
  .about-benefits-section .benefits .col-lg-5 img {
    width: 70%;
    padding-bottom: 30px;
  }
}

/* benefits for distributors cards */
.about-benefits-section .models .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  min-height: 100vh;
}
.about-benefits-section .models .card {
  background: linear-gradient(to bottom, #276ace, #5565f7);
  display: flex;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  width: 450px;
  height: 520px;
  margin: 30px;
  border: none;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 #fff, inset 0 -15px 0 rgba(255, 255, 255, 0.24);
  overflow: hidden;
}
.about-benefits-section .models .card::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  padding: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}
.about-benefits-section .models .card .icon {
  position: relative;
  left: 150px;
  width: 140px;
  height: 120px;
  background: #ffffff;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 15px 0 rgba(0, 0, 0, 0.1),
          inset 0 -8px 0 #fff;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-benefits-section .models .card .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #ffffff;
}
.about-benefits-section .models .card .icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #ffffff;
}
.about-benefits-section .models .card .icon ion-icon {
  color: rgb(56, 56, 56);
  position: relative;
  font-size: 6em;
  z-index: 1000;
  --ionicon-stroke-width: 24px;
}

.about-benefits-section .models .card .content {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 150px;
  text-align: center;
  color: #fff;
}
.about-benefits-section .models .card .content h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.about-benefits-section .models .card .content h5 {
  color: #ccc;
  margin-bottom: 15px;
}
.about-benefits-section .models .card .content .content-body {
  text-align: left;
}
.about-benefits-section .models .card .content .content-body .content-point {
  display: flex;
}
.about-benefits-section .models .card .content .content-body .content-point i {
  margin-top: 4px;
  margin-right: 10px;
}


.about-benefits-section .models .container .plus {
  position: absolute;
  margin-top: -100px;
  z-index: 100;
}
.about-benefits-section .models .container .plus i {
  font-size: 100px;
  color: #fff;
  -webkit-text-stroke: 2px rgb(141, 141, 141);
}
.about-benefits-section .models .container .equals h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #222;
}
.about-benefits-section .models .container .equals h2 span {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: rgb(15, 79, 153);
}


@media screen and (max-width: 1200px) {
  .about-benefits-section .models .container .plus {
    margin-top: -80px
  }
  .about-benefits-section .models .card-2 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 992px) {
  .about-benefits-section .models .container .plus {
    margin-top: -120px
  }
}
@media screen and (max-width: 768px) {
  .about-benefits-section .models .card {
    width: 450px;
    height: 600px;
  }
  .about-benefits-section .models .card .icon {
    left: 135px;
  }
  .about-benefits-section .models .container .plus {
    margin-top: -150px;
  }
}
@media screen and (max-width: 576px) {
  .about-benefits-section .models .card {
    min-width: 300px;
    display: flex;
    align-items: center;
    height: 620px;
  }
  .about-benefits-section .models .card .content h2 {
    font-size: 1.2em;
  }
  .about-benefits-section .models .card .content h5 {
    font-size: 16px;
  }
  .about-benefits-section .models .card .content p {
    font-size: 14px;
  }
  .about-benefits-section .models .card .icon {
    left: 0;
  }
  .about-benefits-section .models .container .plus {
    margin-top: -190px;
  }
}
@media screen and (max-width: 480px) {
  .about-benefits-section .models .card {
    min-width: 300px;
    display: flex;
    align-items: center;
    height: 660px
  }
  .about-benefits-section .models .container .plus {
    margin-top: -200px;
  }
}
@media screen and (max-width: 435px) {
  .about-benefits-section .models .container .plus {
    margin-top: -230px;
  }
}
@media screen and (max-width: 390px) {
  .about-benefits-section .models .container .plus {
    margin-top: -270px;
  }
}

