html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------
    Resources Hero 
-------------------- */
.resources-hero {
  height: 60vh;
  background-image: url(../images/resources.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.resources-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.resources-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    Main Resources
-------------------- */
.main-section-resources .nav-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.main-section-resources .nav-tabs .nav-item {
  margin: 0 20px;
}
.main-section-resources .nav-tabs .nav-link {
  border: none;
  transition: 0.5s ease;
  color: #444;
  font-weight: bold;
}
.main-section-resources .nav-tabs .nav-link:hover {
  border: none;
  box-shadow: 0 3px 0 var(--color-3);
  color: var(--color-3);
}
.main-section-resources .nav-tabs .nav-item .active {
  border: none;
  box-shadow: 0 3px 0 var(--color-3);
  color: var(--color-3);
}
.main-section-resources .tab-content .tab-pane {
  text-align: center;
}
.main-section-resources .section-heading {
  width: 90%;
}

/* --------------------
    Blogs Section 
-------------------- */

.blogs {
  height: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blogs .blog-posts {
  width: 90%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.blogs .blog-posts .post {
  width: calc(33% - 10px);
  overflow: hidden;
}
.blogs .blog-posts .post a {
  text-decoration: none;
}

.blogs .blog-posts .post-img {
  width: 100%;
  border-radius: 6px;
  transition: .3s linear;
}

.blogs .blog-posts .post-content {
  background-color: #eeed;
  min-height: 230px;
  margin: 0 20px;
  padding: 30px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.blogs .blog-posts .post-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.blogs .blog-posts .post-content h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.blogs .blog-posts .date {
  font-size: 15px;
  font-style: italic;
  color: var(--color-6);
}

.blogs .blog-posts .post:hover .post-img {
  transform: translateY(20px);
  transition: 0.5s ease;
}

.blogs .blog-posts .post:hover .post-content {
  transform: translateY(-80px);
  transition: 0.5s ease;
}

@media screen and (max-width: 1200px){
  .blogs .blog-posts{
    justify-content: center;
  }
  .blogs .blog-posts .post{
    width: min(600px, 100%);
  }
}


.blogs .offset {
  --color: var(--color-4);
  --hover: var(--color-3);
  font-weight: 600;
  border: 2px solid;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 1em 2em 0.9em;
  cursor: pointer;
  transition: 0.25s;
  color: #fff;
  border-color: var(--hover);
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.blogs .offset:hover, .offset:focus {
  outline: none;
  color: var(--color);
  border-color: var(--color);
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

/* --------------------
    Newsroom Section 
-------------------- */
.newsroom .featured-news-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsroom .featured-news {
	width: 1140px; 
	overflow: hidden;
}
.newsroom .featured-news ul {
	width: 1300px;
  margin-left: -40px;
}
.newsroom .featured-news li {
	position: relative;
	display: block;
	width: 380px;
  overflow: hidden;
	float: left;
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.newsroom .featured-news li:nth-child(1) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.newsroom .featured-news li:nth-child(5) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.newsroom .featured-news ul:hover li {
  width: 260px;
}
.newsroom .featured-news ul li:hover {
  width: 640px;
}
.newsroom .featured-news li img {
  width: 640px;
  filter: brightness(20%);
  transition: 0.5s ease;
}
.newsroom .featured-news ul li:hover img {
  filter: brightness(40%);
}
.newsroom .featured-news .image-title {
  text-align: left;
	position: absolute;
	left: 0; 
  bottom: 0;	
  padding: 20px;
  width: 640px;	
  color: #ccc;
  z-index: 1;
}
.newsroom .featured-news .image-title h5 {
  color: var(--color-6);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
.newsroom .featured-news .image-title h4 {
	color: #fff;
  margin-top: 10px;
  font-weight: 700;
}
.newsroom .featured-news .image-title p {
  margin-bottom: 30px;
}
.newsroom .featured-news .image-title h6 {
  color: var(--color-5);
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 1240px) {
  .newsroom .featured-news {
    width: 969px;
  }
  .newsroom .featured-news ul {
    width: 1300px;
    margin-left: -40px;
  }
  .newsroom .featured-news li {
    width: 323px;
  }
  .newsroom .featured-news ul:hover li {
    width: 170px;
  }
  .newsroom .featured-news ul li:hover {
    width: 640px;
  }
}

.newsroom .horizontal-line {
  height: 2px;
  width: 1140px;
  background-color: #ccc;
  margin: 60px auto;
}
.newsroom .news {
  text-align: left;
  padding: 0;
}
.newsroom .news-hide {
  display: none;
}
.newsroom .news .news-card {
  display: flex;
  margin-bottom: 20px;
  padding: 20px 0;
  transition: 0.3s ease;
}
.newsroom .news .news-card:hover {
  box-shadow: 0 0 25px rgba(204, 204, 204, 0.514);
}
.newsroom .news .news-card .image img {
  width: 100%;
  filter: brightness(70%);
  transition: 0.3s ease;
}
.newsroom .news .news-card:hover .image img {
  filter: brightness(90%);
}
.newsroom .news .news-card .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.newsroom .news .news-card .text h5 {
  text-transform: uppercase;
  color: var(--color-6);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.newsroom .news .news-card .text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
.newsroom .news .news-card .text p {
  margin-bottom: 0;
  color: #555;
}
.newsroom .news .news-card .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.newsroom .news .news-card .button button {
  padding: 10px 35px;
  font-weight: 600;
  background-color: transparent;
  color: var(--color-3);
  border: 2px solid var(--color-3);
  cursor: pointer;
  transition: 0.3s ease;
}
.newsroom .news .news-card .button button i {
  position: absolute;
  transform: translateY(5px) translateX(-5px);
  opacity: 0;
  transition: 0.3s ease;
}
.newsroom .news .news-card .button button:hover {
  padding: 10px 40px 10px 30px;
  background-color: var(--color-3);
  color: #fff;
  border-radius: 5px;
}
.newsroom .news .news-card .button button:hover i {
  transform: translateY(5px) translateX(8px);
  opacity: 1;
  color: #fff;
}
.newsroom .news .news-card .button button:focus {
  outline: none;
}

@media screen and (max-width: 1199px) {
  .newsroom .news .news-card .button button {
    font-size: 14px;
    padding: 10px 25px;
  }
  .newsroom .news .news-card .button button:hover {
    padding: 10px 30px 10px 20px;
  }
}
@media screen and (max-width: 991px) {
  .newsroom .news .news-card .text h5 {
    margin-top: 20px;
  }
  .newsroom .news .news-card .button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .newsroom .news .news-card .text h5 {
    font-size: 14px;
  }
  .newsroom .news .news-card .text h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .newsroom .news .news-card .text p {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .newsroom .news .news-card {
    margin: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .newsroom .featured-news {
    display: none;
  }
  .newsroom .news-hide {
    display: block;
  }
  .newsroom .horizontal-line {
    display: none;
  }
}

/* --------------------
    Catalogue Section 
-------------------- */
.catalogue {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.catalogue .case-study .da-thumbs {
	list-style: none;
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.catalogue .case-study .da-thumbs li {
	float: left;
	margin: 0.5%;
  width: 49%;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  cursor: pointer;
}
.catalogue .case-study .da-thumbs li .catalogue-card,
.catalogue .case-study .da-thumbs li .catalogue-card img {
	display: block;
	position: relative;
  width: 100%;
}
.catalogue .case-study .da-thumbs li .catalogue-card .thumb-body {
  width: 500px;
  height: 400px;
}
.catalogue .case-study .da-thumbs li .catalogue-card {
	overflow: hidden;
}
.catalogue .case-study .da-thumbs li .catalogue-card .thumb-hover {
	position: absolute;
	background: rgba(8, 8, 8, 0.7);
	width: 100%;
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogue .case-study .da-thumbs li .catalogue-card .thumb-hover span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}
.catalogue .case-study .da-thumbs li:nth-child(4) {
  margin-bottom: 60px;
}

.case-study .form-control {
  height: 50px;
  margin: 15px 0;
}
.case-study .modal-header {
  background-color: var(--color-3);
  color: white;
  text-transform: uppercase;
}
.case-study .modal-header button:focus {
  outline: none;
}
.case-study .modal-footer {
  display: inline;
  padding: 0;
  border-top: 0;
}
.case-study .modal-footer button {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  color: #ddd;
  text-transform: uppercase;
  background-color: var(--color-3);
  padding: 0 30px;
  transition: 0.2s ease;
  cursor: pointer;
}
.case-study .modal-footer .modal-cancel {
  background-color: #333;
}
.case-study .modal-footer .modal-cancel:hover {
  background-color: #222;
  color: #fff;
}
.case-study .modal-footer .modal-submit:hover {
  background-color: #1b508d;
  color: #fff;
}

.catalogue .company-deck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.catalogue .company-deck .deck-card {
  width: 28rem;
  box-shadow: 0 0 10px rgb(153, 153, 153);
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
}
.catalogue .company-deck .deck-card .deck-img {
  margin-bottom: -70px;
}
.catalogue .company-deck .deck-card .deck-img img {
  width: 100%;
  transition: 0.5s ease;
}
.catalogue .company-deck .deck-text {
  background-color: var(--color-3);
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  transform: translateY(100px);
  transition: 0.5s ease;
}
.catalogue .company-deck .deck-text h3 {
  text-align: left;
  margin-top: 5px;
  margin-left: 20px;
}
.catalogue .company-deck .deck-card:hover .deck-text {
  transform: translateY(0px);
}
.catalogue .company-deck .deck-card:hover .deck-img img {
  transform: scale(1.03);
  filter: brightness(85%);
}

@media screen and (max-width: 500px) {
  .catalogue .company-deck .deck-card {
    width: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .catalogue .company-deck .deck-card {
    width: 16rem;
  }
}


