html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* --------------------
    Resources Hero 
-------------------- */
.resources-hero {
  height: 60vh;
  background-image: url(../images/resources.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.resources-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.resources-hero p {
  font-size: 14px;
  text-transform: uppercase;
}



/* --------------------
    Main Resources
-------------------- */
.main-section-resources .container {
  max-width: 100%;
  padding: 0;
}
.main-section-resources .nav-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.main-section-resources .nav-tabs .nav-item {
  margin: 0 20px;
}
.main-section-resources .nav-tabs .nav-link {
  border: none;
  transition: 0.5s ease;
  color: #444;
  font-weight: bold;
}
.main-section-resources .nav-tabs .nav-link:hover {
  border: none;
  box-shadow: 0 3px 0 var(--color-3);
  color: var(--color-3);
}
.main-section-resources .nav-tabs .nav-item .active {
  border: none;
  box-shadow: 0 3px 0 var(--color-3);
  color: var(--color-3);
}
.main-section-resources .tab-content .tab-pane {
  text-align: center;
}
.main-section-resources .section-heading {
  width: 90%;
}

/* --------------------
    Blogs Section 
-------------------- */

.blogs {
  height: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blogs .blog-posts {
  width: 90%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.blogs .blog-posts .post {
  width: calc(33% - 10px);
  overflow: hidden;
}
.blogs .blog-posts .post a {
  text-decoration: none;
}

.blogs .blog-posts .post-img {
  width: 100%;
  border-radius: 6px;
  transition: .3s linear;
}

.blogs .blog-posts .post-content {
  background-color: #eeed;
  min-height: 230px;
  margin: 0 20px;
  padding: 30px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.blogs .blog-posts .post-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.blogs .blog-posts .post-content h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.blogs .blog-posts .date {
  font-size: 15px;
  font-style: italic;
  color: var(--color-6);
}

.blogs .blog-posts .post:hover .post-img {
  transform: translateY(20px);
  transition: 0.5s ease;
}

.blogs .blog-posts .post:hover .post-content {
  transform: translateY(-80px);
  transition: 0.5s ease;
}

@media screen and (max-width: 1200px){
  .blogs .blog-posts{
    justify-content: center;
  }
  .blogs .blog-posts .post{
    width: min(600px, 100%);
  }
}


.blogs .offset {
  --color: var(--color-4);
  --hover: var(--color-3);
  font-weight: 600;
  border: 2px solid;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 1em 2em 0.9em;
  cursor: pointer;
  transition: 0.25s;
  color: #fff;
  border-color: var(--hover);
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.blogs .offset:hover, .offset:focus {
  outline: none;
  color: var(--color);
  border-color: var(--color);
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

/* --------------------
    Newsroom Section 
-------------------- */
.newsroom .featured-news-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsroom .featured-news {
	width: 1200px; 
	overflow: hidden;
}
.newsroom .featured-news ul {
	width: 2000px;
}
.newsroom .featured-news li {
	position: relative;
	display: block;
	width: 400px;
  overflow: hidden;
	float: left;
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.newsroom .featured-news li:nth-child(1) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.newsroom .featured-news li:nth-child(5) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.newsroom .featured-news ul:hover li {
  width: 300px;
}
.newsroom .featured-news ul li:hover {
  width: 640px;
}
.newsroom .featured-news li img {
  width: 640px;
  filter: brightness(60%);
  transition: 0.5s ease;
}
.newsroom .featured-news ul li:hover img {
  filter: brightness(100%);
}
.newsroom .featured-news .image-title {
  text-align: left;
	position: absolute;
	left: 0; 
  bottom: 0;	
  padding: 20px;
  width: 640px;	
  color: #ccc;
  z-index: 1;
}
.newsroom .featured-news .image-title h4 {
	color: #fff;
}


.newsroom .news-row {
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.news-row .news-card {
  margin: 10px 10px;
  max-width: 570px;
}
.news-row .news-card img {
  width: 100%;
}
.news-row .news-card .col-7 {
  background-color: #eeed;
  display: flex;
  padding-top: 15px;
}
.news-row .news-card .col-7 p {
  font-size: 14px;
}
.news-row .news-card .col-7 .horizontal-line {
  border-top: 1px solid rgb(184, 184, 184);
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 100%;
}
.news-row .news-card .col-7 .learn-more {
  position: absolute;
  bottom: 10px;;
  color: rgb(40, 146, 216);
  text-decoration: none;
}
.news-row .news-card .col-7 .learn-more i {
  transition: 0.5s ease;
}
.news-row .news-card .col-7 .learn-more:hover i {
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .news-row .news-card {
    max-width: 700px;
  }
  .news-row .col-xl-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .news-row .news-card {
    max-width: 500px;
  }
  .news-desc-remove-1 {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .news-row .news-card {
    max-width: 400px;
  }
  .news-row .news-card h4 {
    font-size: 20px;
  }
  .news-row .news-card p {
    font-size: 12px;
  }
  .news-desc-remove-2 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .news-row .news-card {
    max-width: 350px;
  }
  .news-desc-remove-3 {
    display: none;
  }
}

/* --------------------
    Catalogue Section 
-------------------- */
.catalogue {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.catalogue .case-studies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.catalogue .case-studies .transition { 
  transition: 0.5s cubic-bezier(.3, 0, 0, 1.3)
}

.catalogue .case-studies .card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 250px;
    left: 0;
    margin: 0 20px;
    overflow: hidden;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalogue .case-studies .card:hover {
    height: 300px;
    width: 300px;
}

.catalogue .case-studies .card_circle {
  background: url('http://lorempixel.com/400/200') no-repeat center bottom;
  background-color: var(--color-3);
  background-size: cover;
  border-radius: 50%;
  height: 300px;
  margin-top: -440px;
  position: absolute;
  width: 450px;
}
.catalogue .case-studies .card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -330px;
}

.catalogue .case-studies img {
  margin-top: -20px;
  position: absolute;
  text-align: center;
  width: 80%;
  z-index: 9999;
}
.catalogue .case-studies .card:hover img {
  margin-top: -160px;
}

.catalogue .case-studies p {
  color: rgba(0,0,0,.6);
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  font-weight: normal;
  padding: 0 10px;
  font-size: 14px;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  z-index: 9999;
}
.catalogue .case-studies .card:hover p { 
  margin-top: 100px;
}

.catalogue .case-studies .cta-container {
  
  opacity: 0;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
  transition: 0.5s ease;
}
.catalogue .case-studies .card:hover .cta-container {
    margin-top: 220px;
    opacity: 1;
}

.catalogue .case-studies .cta {
  -moz-border-radius: 2px;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 2px;
  -webkit-transition: 0.2s ease-out;
  background-clip: padding-box;
  border: 2px solid var(--color-3);
  border-radius: 2px;
  color: var(--color-3);
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}
.catalogue .case-studies .cta:hover {
  background-color: var(--color-3);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.catalogue .case-studies .cta:focus {
  outline: none;
}



.catalogue .company-deck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.catalogue .company-deck .deck-card {
  width: 28rem;
  box-shadow: 0 0 10px rgb(153, 153, 153);
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
}
.catalogue .company-deck .deck-card .deck-img {
  margin-bottom: -70px;
}
.catalogue .company-deck .deck-card .deck-img img {
  width: 100%;
  transition: 0.5s ease;
}
.catalogue .company-deck .deck-text {
  background-color: var(--color-3);
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  transform: translateY(100px);
  transition: 0.5s ease;
}
.catalogue .company-deck .deck-text h3 {
  text-align: left;
  margin-top: 5px;
  margin-left: 20px;
}
.catalogue .company-deck .deck-card:hover .deck-text {
  transform: translateY(0px);
}
.catalogue .company-deck .deck-card:hover .deck-img img {
  transform: scale(1.03);
  filter: brightness(85%);
}

@media screen and (max-width: 500px) {
  .catalogue .company-deck .deck-card {
    width: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .catalogue .company-deck .deck-card {
    width: 16rem;
  }
}

.catalogue-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 100%;
}
.catalogue-cards .catalogue-card {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  width: 36rem;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgb(197, 197, 197);
  border-radius: 7px;
  transition: 0.5s ease;
}
.catalogue-cards img {
  width: 80px;
  margin-right: 30px;
}

.catalogue-cards .catalogue-card .catalogue-body {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}
.catalogue-cards .catalogue-card .catalogue-body h6 {
  margin-top: 2px;
}
.catalogue-cards .catalogue-card a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #111;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s ease;
}
.catalogue-cards .catalogue-card a:hover {
  background-color: #111;
  color: #fff;
}

.catalogue-cards .catalogue-card:hover {
  box-shadow: 0 0 10px gray;
}

@media screen and (max-width: 420px) {
  .catalogue-cards img {
    width: 50px;
    margin-right: 10px;
  }
  .catalogue-cards .catalogue-card .catalogue-body h6 {
    font-size: 14px;
  }
  .catalogue-cards .catalogue-card a {
    padding: 6px 14px;
    font-size: 14px;
  }
}


.case-study .form-control {
  height: 50px;
  margin: 15px 0;
}
.case-study .modal-header {
  background-color: var(--color-3);
  color: white;
  text-transform: uppercase;
}
.case-study .modal-footer {
  display: inline;
  padding: 0;
  border-top: 0;
}
.case-study .modal-footer button {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  color: #ddd;
  text-transform: uppercase;
  background-color: var(--color-3);
  padding: 0 30px;
  transition: 0.2s ease;
  cursor: pointer;
}
.case-study .modal-footer .modal-cancel {
  background-color: #333;
}
.case-study .modal-footer .modal-cancel:hover {
  background-color: #222;
  color: #fff;
}
.case-study .modal-footer .modal-submit:hover {
  background-color: #1b508d;
  color: #fff;
}






*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* General Demo Style */
.catalogue .container{
	width: 100%;
	position: relative;
	min-height: 750px;
}
.da-thumbs {
	list-style: none;
	width: 100%;
	position: relative;
	margin: 20px auto;
	padding: 0;
}
.da-thumbs li {
	float: left;
	margin: 0.5%;
  width: 49%;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
  width: 100%;
}
.da-thumbs li a .thumb-body {
  width: 500px;
  height: 400px;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a .thumb-hover {
	position: absolute;
	background: rgba(8, 8, 8, 0.7);
	width: 100%;
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.da-thumbs li a .thumb-hover span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}

