html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* --------------------
    About Hero 
-------------------- */
.about-hero {
  height: 60vh;
  background-image: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.about-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.about-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    About Section 
-------------------- */
.main-section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-section {
  margin-top: 40px;
  width: 85%;
  text-align: center;
  color: #555;
}

/* --------------------
    HDMS Section 
-------------------- */

.live {
  width: 140px;
  position: relative;
  bottom: 17.5px;
  margin-right: -10px;
  margin-left: -10px;
}
.hybrid-dms-section {
  margin-top: 20px;
  text-align: center;
  color: #555;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
  background-color: rgb(233, 241, 245);
}
.hybrid-dms-cards {
  margin-top: 30px;
}
.hybrid-dms-card {
  margin: 15px 0;
}
.hybrid-dms-image img:nth-child(1) {
  width: 100%;
}
.hybrid-dms-image h6 {
  font-weight: 700;
  color: rgb(248, 248, 248);
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}
.hybrid-dms-image img:nth-child(2) {
  width: 40px;
  position: absolute;
  bottom: 8%;
  left: 11%;
}


.hybrid-dms-image .hybrid-dms-head {
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 10%;
  background-color: #051f66c5;
  padding-right: 30px;
  clip-path: 
  polygon(
    0% 0%,     /* top left */
    0% 0%,     /* top left */
    88% 0%,    /* top right */
    100% 54%,   /* top right */
    88% 100%,  /* bottom right */
    88% 100%,  /* bottom right */
    0% 100%,   /* bottom left */
    0 100%      /* bottom left */
  );
}

.hybrid-dms-text {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding-left: 7%;
  padding-right: 7%;
  margin-left: 5%;
  margin-right: 5%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.hybrid-dms-text-top-left {
  transform: translate3d(-20px, -20px, 0);
}
.hybrid-dms-text-top-right {
  transform: translate3d(20px, -20px, 0);
}
.hybrid-dms-text-bottom-left {
  transform: translate3d(-20px, 20px, 0);
}
.hybrid-dms-text-bottom-right {
  transform: translate3d(20px, 20px, 0);
}
.hybrid-dms-card:hover .hybrid-dms-text{
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.hybrid-dms-text p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.hybrid-dms-text img {
  width: 40px;
  transition: 0.3s ease;
}
.hybrid-dms-text img:hover {
  filter: brightness(85%);
}

@media screen and (max-width: 992px) {
  .hybrid-dms-text {
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media screen and (max-width: 576px) {
  .hybrid-dms-text {
    margin-left: 3%;
    margin-right: 3%;
  }
}


/* --------------------
    Why HDMS Section 
-------------------- */

.why-hybrid-dms-section {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 85%;
  text-align: center;
}
.why-hybrid-dms-section .why-dms {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}
.why-hybrid-dms-section .why-dms .fal {
  color:var(--color-3);
  font-size: 40px;
  margin-right: 10px;
  transition: 0.7s ease;
}
.why-hybrid-dms-section .why-dms-text h6 {
  color: #444;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  min-height: 20px;
}
.why-hybrid-dms-section .why-dms-text p {
  color: #666;
  font-size: 14px;
}
.why-hybrid-dms-section .why-dms:hover .fal {
  transform: translateY(10px);
}

/* --------------------
    About Benefits Section 
-------------------- */
.about-benefits-section {
  width: 100%;
}
.about-benefits-section .not-sure {
  background: url(../images/not-sure.jpg);
  background-size: cover;
  min-height: 260px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
}
.about-benefits-section .not-sure h3 {
  width: 90%;
}
.about-benefits-section .not-sure span {
  color: var(--color-3);
}
.about-benefits-section .not-sure h5 {
  font-weight: 600;
  margin-top: 5px;
  width: 90%;
}
.about-benefits-section .not-sure button {
  background-color: var(--color-6);
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.about-benefits-section .not-sure button:hover {
  cursor: pointer;
  background-color: rgb(189, 21, 26);
}
@media screen and (max-width: 768px) {
  .about-benefits-section .not-sure h3 {
    font-size: 22px;
  }
  .about-benefits-section .not-sure h5 {
    font-size: 18px;
  }
}

/* Benefits for distributors */
.about-benefits-section .benefits .row {
  margin-top: 20px;
}
.about-benefits-section .benefits .col-lg-7, .about-benefits-section .benefits .col-lg-5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-benefits-section .benefits .col-lg-7 {
  padding: 30px 0;
  padding-left: 10%;
}
.about-benefits-section .benefits .col-lg-7 h3 {
  font-weight: 700;
  font-size: 32px;
  color: #444;
  margin-left: 40px;
}
.about-benefits-section .benefits .col-lg-7 ul {
  color: #555;
  list-style: none;
  margin-top: 5px;
}
.about-benefits-section .benefits .col-lg-7 ul li {
  line-height: 30px;
}
.about-benefits-section .benefits .col-lg-7 ul li i{
  color: rgb(214, 16, 16);
}
.about-benefits-section .benefits-distributors .col-lg-5 {
  align-items: flex-start;
}
.about-benefits-section .benefits-distributors .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

/* Benefits for retailers */
.about-benefits-section .benefits-retailers .col-lg-5 {
  align-items: flex-end;
}
.about-benefits-section .benefits-retailers .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

/* Benefits for company */
.about-benefits-section .benefits-company .col-lg-5 {
  align-items: flex-start;
}
.about-benefits-section .benefits-company .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

@media screen and (max-width: 992px) {
  .about-benefits-section .benefits .col-lg-7 {
    align-items: center;
    padding: 0;
    margin-left: -15px;
  }
  .about-benefits-section .benefits .col-lg-7 h3 {
    font-size: 24px;
  }
  .about-benefits-section .benefits-distributors .col-lg-5, .about-benefits-section .benefits-company .col-lg-5 {
    align-items: center;
  }
  .about-benefits-section .benefits-retailers .row{
    flex-direction: column-reverse;
  }
  .about-benefits-section .benefits-retailers .col-lg-5 {
    align-items: center;
  }
  .about-benefits-section .benefits .col-lg-5 img {
    width: 70%;
    padding-bottom: 30px;
  }
}



.models ul {
  list-style: none;
}
.models button {
  outline: none;
  border: none;
}
/* -------------------------------- 
Images block
-------------------------------- */
.cd-image-block {
  position: relative;
}
.cd-image-block::before {
  /* this is the layer used to cover the .cd-image-block when the content block becomes visible - mobile only */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(60,143,161, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-image-block.content-block-is-visible::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  .cd-image-block::before {
    display: none;
  }
}

.cd-images-list::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-images-list > li {
  height: 250px;
  background: url(../images/model-1.jpg) no-repeat center center;
  background-size: cover;
}
.cd-images-list > li:nth-of-type(2) {
  background: url(../images/model-2.jpg) no-repeat center center;
  background-size: cover;
}
.cd-images-list > li:nth-of-type(3) {
  background: url(../images/model-3.jpg) no-repeat center center;
  background-size: cover;
}
.cd-images-list > li > a {
  /* used to vertically align the h2 child -  mobile version only */
  display: table;
  height: 100%;
  width: 100%;
}
.cd-images-list h2 {
  /* used to vertically align h2 -  mobile version only */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-images-list::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-images-list > li > a {
    display: block;
    padding: 4em 3em;
    cursor: default;
    pointer-events: none;
  }
  .cd-images-list h2 {
    font-size: 3.5rem;
    text-align: left;
  }
}


.cd-image-block {
  height: 80vh !important;
 
}
.cd-image-block ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cd-content-block {
  height: 80vh !important;
}
.cd-content-block ul li {
  overflow: hidden !important;
}
.cd-content-block .content h2 {
  color: #333;
  margin-bottom: 20px;
}
.cd-content-block .content .content-body .content-point {
  display: flex;
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}
.cd-content-block .content .content-body .content-point .content-icon {
  padding: 0px 25px;
  height: 50px;
}
.cd-content-block .equals span {
  color: rgb(84, 128, 194);
}

@media screen and (max-width: 1050px) {
  .cd-images-list h2 {
    font-size: 2.4rem;
  }
  .cd-content-block .content h2 {
    font-size: 26px;
  }
  .cd-content-block .content .content-body .content-point {
    font-size: 16px;
  }
  .cd-content-block .equals {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .cd-content-block {
    height: 100vh !important;
  }
  .cd-images-list {
    margin-left: -40px;
    height: 100%;
  }
  .cd-content-block .equals {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) and (max-height: 830px) {
  .models {
    padding-bottom: 10vh;
  }
}
@media screen and (max-width: 768px) and (max-height: 780px) {
  .models {
    padding-bottom: 20vh;
  }
}
@media screen and (max-width: 768px) and (max-height: 730px) {
  .models {
    padding-bottom: 30vh;
  }
}
@media screen and (max-width: 768px) and (max-height: 670px) {
  .models {
    padding-bottom: 40vh;
  }
}
@media screen and (max-width: 768px) and (max-height: 622px) {
  .models {
    padding-bottom: 50vh;
  }
}

/* -------------------------------- 

Content block

-------------------------------- */
.cd-content-block {
  /* move the block outside the viewport (to the right) - mobile only */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-content-block.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-content-block > ul {
  height: 100%;
}
.cd-content-block > ul > li {
  position: absolute;
  height: 100%;
  padding: 2em;
  overflow-y: scroll;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
}
.cd-content-block > ul > li.is-selected {
  /* this is the selected content */
  position: relative;
  opacity: 1;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}
.cd-content-block h2 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 1em;
}
.cd-content-block p {
  margin-bottom: 2em;
  line-height: 1.6;
  color: #85868d;
}
.cd-content-block .cd-close {
  /* 'X' icon to close the content block -  mobile only */
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-content-block .cd-close::after, .cd-content-block .cd-close::before {
  /* these are the 2 lines of the 'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 24px;
  background-color: #343642;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-content-block .cd-close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-content-block .cd-close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cd-content-block .cd-close.is-scaled-up {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch .cd-content-block .cd-close.is-scaled-up:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
@media only screen and (min-width: 768px) {
  .cd-content-block {
    /* reset style */
    position: static;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-content-block > ul > li {
    /* reset style */
    opacity: 1;
    visibility: visible;
    padding: 4em 3em;
  }
  .cd-content-block > ul > li.overflow-hidden {
    /* this class is used during the animation (slider change) to hide the scrolling bar */
    overflow: hidden;
  }
  .cd-content-block h2 {
    font-size: 3rem;
  }
  .cd-content-block .cd-close {
    display: none;
  }
}

/* ---------------------------------------------- 

Desktop slider - both image and content blocks

---------------------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-image-block,
  .cd-content-block {
    /* slider style - desktop version only */
    width: 50%;
    float: left;
    height: 100vh;
    overflow: hidden;
  }
  .cd-image-block > ul,
  .cd-content-block > ul {
    position: relative;
    height: 100%;
  }
  .cd-image-block > ul > li,
  .cd-content-block > ul > li {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    /* by default, the items are moved to the right - relative to their parent elements */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
  }
  .cd-image-block > ul > li.is-selected,
  .cd-content-block > ul > li.is-selected {
    /* this is the visible item */
    position: absolute;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-image-block > ul > li.move-left,
  .cd-content-block > ul > li.move-left {
    /* this is the item hidden on the left */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* -------------------------------- 

Slider navigation

-------------------------------- */

.models {
  position: relative;
  height: 100%;
}
.block-navigation {
  /* this is the slider navigation - desktop version only */
  display: none;
}
.block-navigation h6 {
  margin-bottom: -15px;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .block-navigation {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 50%;
    display: flex;
    height: 50px;
  }
  .block-navigation::after {
    clear: both;
    content: "";
    display: table;
  }
  
  .block-navigation button {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .block-navigation button:hover {
    background-color: rgba(0, 0, 0, 0.65);
  }
  .block-navigation button.inactive {
    opacity: .7;
    cursor: not-allowed;
  }
}

/* -------------------------------- 

Javascript disabled

-------------------------------- */
@media only screen and (min-width: 768px) {
  .no-js .cd-content-block {
    display: none;
  }

  .no-js .cd-image-block {
    width: 100%;
    overflow: visible;
  }

  .no-js .cd-images-list::after {
    clear: both;
    content: "";
    display: table;
  }

  .no-js .cd-images-list > li {
    position: static;
    width: 50%;
    float: left;
    height: 400px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .no-js .cd-images-list > li.is-selected {
    position: static;
  }

  .no-js .cd-images-list > li > a {
    cursor: pointer;
    pointer-events: auto;
  }

  .no-js .block-navigation {
    display: none;
  }
}


/* benefits for distributors cards */
.about-benefits-section .models .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  height: 0;
}