html, body {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* --------------------
    About Hero 
-------------------- */
.about-hero {
  height: 60vh;
  background-image: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.about-hero h1 {
  font-size: 50px;
  font-weight: 700;
}
.about-hero p {
  font-size: 14px;
  text-transform: uppercase;
}

/* --------------------
    About Section 
-------------------- */
.main-section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-section {
  margin-top: 40px;
  width: 85%;
  text-align: center;
  color: #555;
}

/* --------------------
    HDMS Section 
-------------------- */

.live {
  width: 140px;
  position: relative;
  bottom: 17.5px;
  margin-right: -10px;
  margin-left: -10px;
}
.hybrid-dms-section {
  margin-top: 20px;
  text-align: center;
  color: #555;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
  background-color: rgb(233, 241, 245);
}
.hybrid-dms-cards {
  margin-top: 30px;
}
.hybrid-dms-card {
  margin: 15px 0;
}
.hybrid-dms-image img:nth-child(1) {
  width: 100%;
}
.hybrid-dms-image h6 {
  font-weight: 700;
  color: rgb(248, 248, 248);
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}
.hybrid-dms-image img:nth-child(2) {
  width: 40px;
  position: absolute;
  bottom: 8%;
  left: 11%;
}


.hybrid-dms-image .hybrid-dms-head {
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 10%;
  background-color: #051f66c5;
  padding-right: 30px;
  clip-path: 
  polygon(
    0% 0%,     /* top left */
    0% 0%,     /* top left */
    88% 0%,    /* top right */
    100% 54%,   /* top right */
    88% 100%,  /* bottom right */
    88% 100%,  /* bottom right */
    0% 100%,   /* bottom left */
    0 100%      /* bottom left */
  );
}

.hybrid-dms-text {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding-left: 7%;
  padding-right: 7%;
  margin-left: 5%;
  margin-right: 5%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.hybrid-dms-text-top-left {
  transform: translate3d(-20px, -20px, 0);
}
.hybrid-dms-text-top-right {
  transform: translate3d(20px, -20px, 0);
}
.hybrid-dms-text-bottom-left {
  transform: translate3d(-20px, 20px, 0);
}
.hybrid-dms-text-bottom-right {
  transform: translate3d(20px, 20px, 0);
}
.hybrid-dms-card:hover .hybrid-dms-text{
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.hybrid-dms-text p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.hybrid-dms-text img {
  width: 40px;
  transition: 0.3s ease;
}
.hybrid-dms-text img:hover {
  filter: brightness(85%);
}

@media screen and (max-width: 992px) {
  .hybrid-dms-text {
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media screen and (max-width: 576px) {
  .hybrid-dms-text {
    margin-left: 3%;
    margin-right: 3%;
  }
}


/* --------------------
    Why HDMS Section 
-------------------- */

.why-hybrid-dms-section {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 85%;
  text-align: center;
}
.why-hybrid-dms-section .why-dms {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}
.why-hybrid-dms-section .why-dms .fal {
  color:var(--color-3);
  font-size: 40px;
  margin-right: 10px;
  transition: 0.7s ease;
}
.why-hybrid-dms-section .why-dms-text h6 {
  color: #444;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  min-height: 20px;
}
.why-hybrid-dms-section .why-dms-text p {
  color: #666;
  font-size: 14px;
}
.why-hybrid-dms-section .why-dms:hover .fal {
  transform: translateY(10px);
}

/* --------------------
    About Benefits Section 
-------------------- */
.about-benefits-section {
  width: 100%;
}
.about-benefits-section .parallax-window {
  margin-bottom: 50px;
}
.about-benefits-section .not-sure {
  background: transparent;
  min-height: 260px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
}
.about-benefits-section .not-sure h3 {
  width: 90%;
}
.about-benefits-section .not-sure span {
  color: var(--color-3);
}
.about-benefits-section .not-sure h5 {
  font-weight: 600;
  margin-top: 5px;
  width: 90%;
}
.about-benefits-section .not-sure button {
  background-color: var(--color-6);
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.about-benefits-section .not-sure button:hover {
  cursor: pointer;
  background-color: rgb(189, 21, 26);
}
@media screen and (max-width: 768px) {
  .about-benefits-section .not-sure h3 {
    font-size: 22px;
  }
  .about-benefits-section .not-sure h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .about-benefits-section .not-sure h3 {
    font-size: 17px;
  }
  .about-benefits-section .not-sure h5 {
    font-size: 15px;
  }
  .about-benefits-section .not-sure button {
    font-size: 14px;
  }
}

/* Benefits for distributors */
.about-benefits-section .benefits .row {
  margin-top: 20px;
}
.about-benefits-section .benefits .col-lg-7, .about-benefits-section .benefits .col-lg-5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-benefits-section .benefits .col-lg-7 {
  padding: 30px 0;
  padding-left: 10%;
}
.about-benefits-section .benefits .col-lg-7 h3 {
  font-weight: 700;
  font-size: 32px;
  color: #444;
  margin-left: 40px;
}
.about-benefits-section .benefits .col-lg-7 ul {
  color: #555;
  list-style: none;
  margin-top: 5px;
}
.about-benefits-section .benefits .col-lg-7 ul li {
  line-height: 30px;
}
.about-benefits-section .benefits .col-lg-7 ul li i{
  color: rgb(214, 16, 16);
}
.about-benefits-section .benefits-distributors .col-lg-5 {
  align-items: flex-start;
}
.about-benefits-section .benefits-distributors .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

/* Benefits for retailers */
.about-benefits-section .benefits-retailers .col-lg-5 {
  align-items: flex-end;
}
.about-benefits-section .benefits-retailers .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

/* Benefits for company */
.about-benefits-section .benefits-company .col-lg-5 {
  align-items: flex-start;
}
.about-benefits-section .benefits-company .col-lg-5 img {
  width: 400px;
  margin: 20px 0;
}

@media screen and (max-width: 992px) {
  .about-benefits-section .benefits .col-lg-7 {
    align-items: center;
    padding: 0;
    margin-left: -15px;
  }
  .about-benefits-section .benefits .col-lg-7 h3 {
    font-size: 24px;
  }
  .about-benefits-section .benefits-distributors .col-lg-5, .about-benefits-section .benefits-company .col-lg-5 {
    align-items: center;
  }
  .about-benefits-section .benefits-retailers .row{
    flex-direction: column-reverse;
  }
  .about-benefits-section .benefits-retailers .col-lg-5 {
    align-items: center;
  }
  .about-benefits-section .benefits .col-lg-5 img {
    width: 70%;
    padding-bottom: 30px;
  }
}

/* Models section */
.models {
  position: relative;
}
.models .model-1 {
  background-image: url("../images/model-1.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.models .model-2 {
  background-image: url("../images/model-2.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.models h1 {
  font-size: 56px;
  font-weight: 700;
  position: absolute;
  color: #fff;
  margin-left: 8%;
}
.models .model-head {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
}
.models .model-body {
  position: absolute;
  height : 100%;
  width : 100%;
  background: #eee;
  padding-left: 8%;
  padding-right: 6%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.models .box {
  position: relative;
  overflow:hidden;
  height: 500px;
}
.models #move-in-to-place-1 {
  left: -100%;
  cursor: default;
}
.models #move-in-to-place-2 {
  right: -100%;
  cursor: default;
}
.models .close-model {
  position: absolute;
  right: 5%;
  top: 5%;
  outline: none;
  border: none;
  font-size: 24px;
  background-color: none;
  cursor: pointer;
}
.models .content h2 {
  color: var(--color-4);
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
}
.models .content .content-body .content-point {
  display: flex;
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}
.models .content .content-body .content-point .content-icon {
  padding: 0px 25px;
  height: 50px;
}


